  <footer class="footer" role="contentinfo">
    <div id="inner-footer" class="row clearfix">
        <div class="large-12 medium-12 columns footer-widget">
            <div id="text-5" class="widget widget_text">
            <div class="widget-wrap widget-inside">
                <h3 class="widget-title h2">About Us</h3>
                <div class="textwidget">Create a <strong>beautiful video portal</strong> using this sleek looking theme. Best part about the theme is we have kept it as simple as we could, along with the videos the theme can be used for blogging too. Our primary goal while creating the theme was it should work faster then any theme we created till date, the demo site shows this works fast. <br/><a href="/">Purchase this theme</a></div>
            </div>
            </div>
            <div id="nav_menu-5" class="widget widget_nav_menu">
            <div class="widget-wrap widget-inside">
                <h3 class="widget-title h2">Video</h3>
                <div class="menu-video-container">
                  	<ul id="menu-video" class="menu">
						<%= render(CategoryComponent.with_collection(@categories)) %>
					</ul>
                </div>
            </div>
            </div>
            <div id="tmpl_subscriber_widget-3" class="widget widget Newsletter subscribe">
            <div class="widget-wrap widget-inside">
                <div class="subscribe newsletter_subscribe_footer_widget">
                    <div class="subscribe_wall">
                        <div class="subscribe_cont">
                        <h3 class="widget-title h2">Subscribe To Newsletter</h3>
                        <p> Get latest news about us directly in your inbox. We will never spam, Promise. </p>
                        <span class="newsletter_msg" id="newsletter_msg"> </span>
                       
                        </div>
                    </div>
                </div>
                <!--End mc_embed_signup-->
            </div>
            </div>
            <div id="social_media-4" class="widget widget social_media">
            <%# <div class="widget-wrap widget-inside">
                <div class="social_media" >
                    <h3 class="widget-title h2">Connect With Us</h3>
                    <p class="social_description"> Find Us On Social Sites </p>
                    <div class="social_media widget_contact_info">
                        <div class="widget-wrap widget-inside">
                        <ul class="social_media_list inline-list social">
                            <li> <a href="https://facebook.com/templatic" class="facebook" target="_blank">
                                <i class="fa fa-facebook"></i></a> 
                            </li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div> %>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="large-12 medium-12 columns">
            <div class="columns footer-meta">
                <p class="source-org copyright left">&copy; 2020 Video.</p>
                <p class="right"><a href="/">Video</a> theme designed by <a href="/">Self</a></p>
            </div>
            </div>
        </div>
    </div>
    <!-- end #inner-footer -->			
</footer>
<!-- end .footer -->

<style type="text/css">
	.owl-carousel .item-video{height:600px}
</style>
