<div id="recent-comments-5" class="widget widget_recent_comments">
    <div class="widget-wrap widget-inside">
        <h3 class="widget-title h2">Recent Comments</h3>
        <ul id="recentcomments">
            <%= render(RecentCommentsComponent.with_collection(@comments)) %>
        </ul>
    </div>
</div>