<div class="grid-list-btn hide-for-xsmall-only right hide-for-small-only" >
    <ul class="button-group viewsbox">
        <li><a  data-action="click->videos#toggle"  data-view="grid" id="gridview" data-target="videos.gridview" class="active button" style="position: relative; top: 0px;" ><i class="fa fa-th step"></i><span>Grid View</span></a></li>
        <li><a  data-action="click->videos#toggle"  data-view="list" id="listview" data-target="videos.listview" class="button" style="position: relative; top: 0px;"><i class="fa fa-list step"></i><span>List View</span></a></li>
    </ul>
</div>