<div id="content">
	<div id="inner-content" class="row clearfix">
		<div id="main" class="large-9 medium-12 columns first clearfix" role="main">
			<%=render(BreadCrumbComponent.new(breadcrumbs: @breadcrumbs)) %>
				<section class="entry-content clearfix" itemprop="articleBody">
					<p>Dot com is a website completely dedicated to selling and supporting&nbsp;<a title="Premium  " href="--store/">Premium  </a>. We don’t offer custom work or any hosting services, we do one thing, and do it well. If you’re looking to create an awesome site using&nbsp;
						<a href="/" target="_blank"></a>, you’ve come to the right place! What sets us apart from other awesome theme companies (you’re probably wondering)?
						<br> <strong>Well, we…</strong>
					</p>
					<ul>
						<li>have been doing this for a while. Dot is almost 5 years old and one of the oldest theme companies in the business</li>
						<li>focus on value. All of our are designed to help you make money. Some do it indirectly (with ads) while some come with payment options and shopping carts built-in</li>
						<li>love developing new that haven’t necessarily been done before. Our&nbsp;<a href="app-/geo-places-city-directory--theme/" target="_blank">GeoPlaces</a>&nbsp;theme was one of the first directory for and is still going strong</li>
						<li>always put the you (the user) first. Most of our decisions are directly influenced by what you think and what you expect from us. Theme suggestions and improvements are always welcome!</li>
						<li>believe in our community. Our forums are full of people willing to help each other. We reward these people every month with free stuff (including )</li>
						<li>provide access to a&nbsp;<a href="customize" target="_blank">job board site</a>&nbsp;where you can easily find developers willing to work with you</li>
						<li>allow you to test all our before purchasing. To create a test site simply&nbsp;<a href="news/now-test-drive-Dot premium-/" target="_blank">click here</a>
						</li>
					</ul>
					<blockquote>
						<p>(All the content displaying here can be changed from the back end easily, and as an admin of the site you can have all the rights for accessing each and every settings from the back end)</p>
					</blockquote>
				</section>
		</div>
	</div>
</div>