<div id="content">
   <div id="inner-content" class="row clearfix">
      <div id="main" class="large-9 medium-12 columns" role="main">
         <ul class="breadcrumbs hide-for-xsmall-only show-for-medium-up">
            <span class="trail-begin">
               <li><a href="https://demo.templatic.com/video" title="Video" rel="home" class="trail-begin">Home</a></li>
            </span>
            <span class="trail-end">Submit Video</span>
         </ul>
         <article id="post-" class="clearfix post-2554 page type-page status-publish hentry" role="article" itemscope itemtype="//schema.org/BlogPosting">
            <header class="article-header">
               <h1 class="page-title">Submit Video</h1>
            </header>
            <!-- end article header -->
            <section class="entry-content clearfix" itemprop="articleBody">
               <p>This is your video submission form from where users will be able to add their video listings on your website.</p>
               <script>
                  var can_submit_form = 0;
                  var captcha_submit = 1;
                  
               </script>
               <form name="submit_form" id="submit_form" class="dropzone form_front_style" action="https://demo.templatic.com/video/?page=paynow" method="post" enctype="multipart/form-data">
                  <input type="hidden" id="submit_form_nonce_field" name="submit_form_nonce_field" value="f2925d4ace" /><input type="hidden" name="_wp_http_referer" value="/video/submit-video/" /><input type='hidden' id='submit_post_type' name='submit_post_type' value='videos'><input type='hidden' id='submit_post_url' name='submit_post_url' value='/video/submit-video/'><input type='hidden' id='cur_post_type' name='cur_post_type' value='videos'><input type='hidden' id='submit_page_id' name='submit_page_id' value='2554'>		
                  <div class="accordion" id="post-listing" >
                     <div id="step-post" class="accordion-navigation step-wrapper step-post">
                        <a class="step_enter_detail step-heading submit-video active" href="#"><span>1</span><span>Enter Details</span><span></span></a>
                        <div id="post" class="step-post content active clearfix">
                           <div id="submit_form_custom_fields" class="submit_form_custom_fields">
                              <div class='fields-set'>
                                 <div class="video_option">
                                    <label class="main_title">Video Details</label>
                                    <div class="form_cat_left">
                                       <ul class="hr_input_radio">
                                          <li><input name="video_upload"  id="video_upload_1" type="radio" value="upload" checked="checked" /> <label for="video_upload_1">Upload</label></li>
                                          <li><input name="video_upload"  id="video_upload_2" type="radio" value="ptthemes_oembed"  /> <label for="video_upload_2">Video URL</label></li>
                                          <li><input name="video_upload"  id="video_upload_3" type="radio" value="ptthemes_video"  /> <label for="video_upload_3">Video Embed Code</label></li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                              <div class="fields-set" id="div_upload_video" style="">
                                 <input type="file" class="upload_video" id="upload_video" name="upload_video"/>
                                 <label class="r_lbl">Maximum upload size: 8MB</label>
                                 <label class="r_lbl">Supported file types: MP4, WebM, and FFmpeg</label>
                                 <input type="hidden" value="" name="_wp_attached_file"/>
                                 <span id="upload_video_error"></span>
                                 <div class="fields-set downloadable">
                                    <input type="checkbox" name="is_downloadable" id="is_downloadable" class="pt_input_checkbox" > <label for="is_downloadable"> Allow Downloads</label>
                                 </div>
                              </div>
                              <div class="fields-set embed_video" id="div_oembed_video" style="display:none">
                                 <label class="r_lbl">Video URL</label>
                                 <div class="fields-set">
                                    <input type="text" id="oembed_video" name="oembed" value="" class="textfield" size="100">                
                                    <span id="ptthemes_oembed_error"></span>
                                 </div>
                              </div>
                              <!--common option for upload video and url-->
                              <div class="fields-set div-autoplay" style="">
                                 <input type="checkbox" name="autoplay" id="video_autoplay" class="pt_input_checkbox" checked="checked"> <label for="video_autoplay"> Enable Autoplay</label>
                                 <label class="r_lbl">Autoplays video on its detail page. </label>
                              </div>
                              <div class="fields-set" id="div_ptthemes_video" style="display:none">
                                 <label class="r_lbl">Video Embed Code</label>
                                 <textarea id="video" class="upload_video pt_input_textarea" name="video" cols="98" rows="3"></textarea>
                                 <span id="ptthemes_video_error"></span>
                              </div>
                              <div id="div_video_thumbnail_option" style="display:none;">
                                 <label class="r_lbl">Video thumbnail option</label>
                                 <div class="fields-set">
                                    <ul class="hr_input_radio">
                                       <li id="li-upload-image"><input name="upload_image_type" id="image_upload" type="radio" value="upload_image" checked="checked"/> <label for="image_upload">Upload feature Image</label></li>
                                       <li id="li-image-generage"><input name="upload_image_type" id="image_generate" type="radio" value="generate_image" /> <label for="image_generate">Generate video thumbnail</label></li>
                                    </ul>
                                 </div>
                              </div>
                              <div class="fields-set">
                                 <label class="r_lbl">Video thumbnail</label>
                                 <div id="div_upload_image">
                                    <div class="upload_box ">
                                       <div class="hide_drag_option_ie">
                                          <p>You can drag &amp; drop images from your computer to this box.</p>
                                          <p>OR</p>
                                       </div>
                                       <div class="tmpl_single_uploader">
                                          <!-- Save the uploaded image path in hidden fields -->
                                          <input type="hidden" value="" name="video_image" id="video_image" class="fileupload uploadfilebutton"  placeholder=""/>
                                          <div id="video_image"></div>
                                          <div id="fancy-contact-form">
                                             <div class="dz-default dz-message" ><span  id="fancy-video_image"><span><i class="fa fa-folder"></i>  Upload File</span></span></div>
                                             <p class="max-upload-size">
                                                Maximum upload file size: 2MB                                
                                             </p>
                                             <span  id="image-video_image"></span>
                                             <input type="hidden" name="submitted" value="1">
                                          </div>
                                          <script type="text/javascript" async >
                                             var image_thumb_src = 'https://demo.templatic.com/video/wp-content/uploads/sites/33/2020/07/';
                                             jQuery(document).ready(function(){
                                                     var settings = {
                                                             url: 'https://demo.templatic.com/video/wp-content/themes/videobower/functions/single_upload.php',
                                                             dragDrop:true,
                                                             fileName: "video_image",
                                                             allowedTypes:"jpeg,jpg,png,gif",	
                                                             returnType:"json",
                                                             multiple:false,
                                                             showDone:false,
                                                             showAbort:false,
                                                             showProgress:true,
                                                             onSubmit:function(files, xhr)
                                                             {
                                                                     /*jQuery('.ajax-file-upload-statusbar').html('');*/
                                                             },
                                                             onSuccess:function(files,data,xhr)
                                                             {
                                                                     jQuery('#image-video_image').html('');
                                                                     if(jQuery('#img_video_image').length > 0)
                                                                     {
                                                                             jQuery('#img_video_image').remove();
                                                                     }
                                                                 var img = jQuery('<img height="60px" width="60px" id="img_video_image">'); /*Equivalent: $(document.createElement('img'))*/
                                                                 data = data+'';
                                                                     if(data != 'error'){
                                                                             var id_name = data.split('.');
                                                                             console.log(id_name);
                                                                             if(id_name[1] == 'pdf')
                                                                                     var img_name = 'TEVOLUTION_PAGE_TEMPLATES_URL/images/pdfthumb.png';
                                                                             else
                                                                                     var img_name = 'https://demo.templatic.com/video/wp-content/themes/videobower/images/tmp/'+id_name[0]+"."+id_name[1];	
                                             
                                                                             img.attr('src', img_name);
                                                                             img.appendTo('#image-video_image');
                                                                     }
                                                                     else
                                                                     {
                                                                             jQuery('#image-video_image').html("Image can&rsquo;t be uploaded due to some error.");
                                                                             jQuery('.ajax-file-upload-statusbar').css('display','none');
                                                                             return false;
                                                                     }
                                                                     jQuery('#image-video_image').css('display','');
                                                                     jQuery('#video_image').val(image_thumb_src+data);
                                                                     jQuery('.ajax-file-upload-filename').css('display','none');
                                                                     jQuery('.ajax-file-upload-red').css('display','none');
                                                                     jQuery('.ajax-file-upload-progress').css('display','none');
                                                             },
                                                             showDelete:true,
                                                             deleteCallback: function(data,pd)
                                                             {
                                                                     for(var i=0;i<data.length;i++)
                                                                     {
                                                                             jQuery.post("https://demo.templatic.com/video/wp-content/themes/videobower/functions/delete_image.php",{op:"delete",name:data[i]},
                                                                             function(resp, textStatus, jqXHR)
                                                                             {
                                                                                     /*Show Message  */
                                                                                     jQuery('#image-video_image').html("<div>File Deleted</div>");
                                                                                     jQuery('#video_image').val('');
                                                                             });
                                                                      }      
                                                                     pd.statusbar.hide(); /*You choice to hide/not.*/
                                             
                                                             }
                                                     }
                                                     var uploadObj = jQuery("#fancy-"+'video_image').uploadFile(settings);
                                             });
                                             function single_delete_image(name,field_name)
                                             {
                                                     jQuery.ajax({
                                                              url: 'https://demo.templatic.com/video/wp-content/themes/videobower/functions/delete_image.php?op=delete&name='+name,
                                                              type: 'POST',
                                                              success:function(result){
                                                                     jQuery('#image-'+field_name).html("<div>File Deleted</div>");
                                                                     jQuery('#'+field_name).val('');			
                                                             }				 
                                                      });
                                             }
                                          </script>
                                       </div>
                                       <span class="message_error2" id="post_images_error"></span>
                                       <span class="safari_error" id="safari_error"></span>
                                    </div>
                                 </div>
                              </div>
                              <div class="form_row clearfix submit_category_box">
                                 <label class="r_lbl">Select Category<span class="required">*</span></label>
                                 <div class="cf_checkbox">
                                    <ul>
                                       <label><input type="checkbox" name="selectall" id="selectall" onclick="displaychk();">Select All</label>
                                       <li><label for="category-234"><input type="checkbox" name="category[]" id="category-234" value=234, />Art</label></li>
                                       <li><label for="category-232"><input type="checkbox" name="category[]" id="category-232" value=232, />Life</label></li>
                                       <li><label for="category-233"><input type="checkbox" name="category[]" id="category-233" value=233, />Nature</label></li>
                                       <li><label for="category-19"><input type="checkbox" name="category[]" id="category-19" value=19, />Others</label></li>
                                       <li><label for="category-235"><input type="checkbox" name="category[]" id="category-235" value=235, />Science</label></li>
                                       <li><label for="category-14"><input type="checkbox" name="category[]" id="category-14" value=14, />Sports</label></li>
                                       <li><label for="category-196"><input type="checkbox" name="category[]" id="category-196" value=196, />Videos</label></li>
                                       <li>
                                          <label for="category-18">
                                             <input type="checkbox" name="category[]" id="category-18" value=18, />&ndash; Animation
                                       </li>
                                       <li><label for="category-15"><input type="checkbox" name="category[]" id="category-15" value=15, />&ndash; Education</li><li><label for="category-236"><input type="checkbox" name="category[]" id="category-236" value=236, />&ndash; Health</li><li><label for="category-241"><input type="checkbox" name="category[]" id="category-241" value=241, />&ndash; Technology</li><li><label for="category-16"><input type="checkbox" name="category[]" id="category-16" value=16, />&ndash; Travel</li>
                                    </ul>
                                 </div>
                                 <span id="category_error"></span>
                                 <span class="message_note msgcat">Select categories in which you want to post the video.</span>
                              </div>
                              <div class='fields-set'>			<label class="r_lbl">Title<span class="required">*</span></label>
                              <input name="post_title" id="post_title" value="" type="text" class="textfield"/>
                              <span id="post_title_error"></span>
                              </div>
                              <div class='fields-set'>                    <label class="r_lbl">Video Excerpt</label>	
                                 <textarea name="post_excerpt" id="post_excerpt" rows="3"></textarea>
                              </div>
                              <div class='fields-set'>
                                 <label class="r_lbl">Video Description<span class="required">*</span></label>
                                 <div id="wp-post_content-wrap" class="wp-core-ui wp-editor-wrap tmce-active">
                                    <link rel='stylesheet' id='dashicons-css'  href='https://demo.templatic.com/video/wp-includes/css/dashicons.min.css' type='text/css' media='all' />
                                    <link rel='stylesheet' id='editor-buttons-css'  href='https://demo.templatic.com/video/wp-includes/css/editor.min.css' type='text/css' media='all' />
                                    <style>.wp-editor-wrap{width:640px;margin-left:0px;}</style>
                                    <div id="wp-post_content-editor-container" class="wp-editor-container"><textarea class="wp-editor-area" rows="6" autocomplete="off" cols="40" name="post_content" id="post_content"></textarea></div>
                                 </div>
                                 <script>
                                    var content_id = 'post_content';
                                    var espan = 'post_content_error';
                                 </script>
                                 <span id="post_content_error"></span>
                              </div>
                           </div>
                           <span class="message_error2" id="common_error"></span><input type="hidden" id="recaptcha_val" value=""><input type="button" class="button secondary_btn post-edit-link" id="continue_submit_from" name="continue_login" value="Continue" />&nbsp;&nbsp;                        
                        </div>
                     </div>
                     <div id="step-auth" class="accordion-navigation step-wrapper step-auth">
                        <a class="step-heading active" href="#"><span id="span_user_login">2</span><span>Login / Register</span><span></span></a>
                        <div id="auth" class="step-auth content clearfix">
                           <p style="display:none;" class="status"></p>
                           <div class="login_submit clearfix" id="loginform">
                              <div class="sec_title">
                                 <h3 class="form_title spacer_none">Login or register</h3>
                              </div>
                              <div class="user_type clearfix">
                                 <label class="lab1">I am a </label>
                                 <label class="radio_lbl"><input name="user_login_or_not" type="radio" value="existing_user" checked="checked" onclick="set_login_registration_frm('existing_user');" /> Existing User </label>
                              </div>
                              <!-- Login Form -->
                              <div name="loginform" class="sublog_login"  style="display:block;"   id="login_user_frm_id"  >
                                 <div class="form_row clearfix lab2_cont">
                                    <label class="lab2">Login<span class="required">*</span></label>
                                    <input type="text" class="textfield slog_prop " id="user_login" name="log" />
                                 </div>
                                 <div class="form_row learfix lab2_cont">
                                    <label class="lab2">Password<span class="required">*</span> </label>
                                    <input type="password" class="textfield slog_prop" id="user_pass" name="pwd" />
                                 </div>
                                 <div class="form_row clearfix">
                                    <input name="submit_form_login" type="button" id="submit_form_login" value="Login" class="button secondary_btn post-edit-link" />
                                 </div>
                                 <input type="hidden" name="redirect_to" value="https://demo.templatic.com/video/submit-video/" />
                                 <input type="hidden" name="testcookie" value="1" />
                                 <input type="hidden" name="pagetype" value="https://demo.templatic.com/video/submit-video/" />
                                 <input type="hidden" id="security" name="security" value="62966cc63c" /><input type="hidden" name="_wp_http_referer" value="/video/submit-video/" />          
                              </div>
                              <!-- Login Form End -->
                           </div>
                        </div>
                     </div>
                     <input type="button" style="display:none;" id="submit_form_button" name="submit_form_button" />&nbsp;&nbsp;            
                  </div>
               </form>
               <div id="preview_submit_from_videos"  class="reveal-modal singular-videos preview_submit_from_data" data-reveal></div>
              
            </section>
            <!-- end article section -->
            <footer class="article-footer">
               <p class="clearfix"></p>
            </footer>
            <!-- end article footer -->
         </article>
         <!-- end article -->
         <!-- You can start editing here. -->
         <!-- If comments are closed. -->
         <!--p class="nocomments">Comments are closed.</p-->
      </div>
      <!-- end #main -->
      <!-- Primary Sidebar widget -->
      <div id="sidebar1" class="sidebar large-3 medium-12 columns" role="complementary">
         <div id="tmpl_adv_widget-21" class="widget widget Advertise">
            <div class="widget-wrap widget-inside">
               <div class="advt advt-1c">
                  <a href="http://templatic.com"><img src="https://demo.templatic.com/video/wp-content/uploads/sites/33/2020/06/banner.jpg" class="thumb-img"></a> 
               </div>
            </div>
         </div>
         <div class="widget login_widget" id="login_widget">
            <h3  class="widget-title">Dashboard</h3>
            <ul class="xoxo blogroll">
               <li class="tmpl-login" >  <a href="https://demo.templatic.com/video/?ptype=login" title=Login> <i class="fa fa-key"></i> Login</a></li>
               <li class='listing-btn'><a href='https://demo.templatic.com/video/submit-video/'> <i class='fa fa-play-circle'></i>Add Video</a></li>
            </ul>
         </div>
         <div id="text-7" class="widget widget_text">
            <div class="widget-wrap widget-inside">
               <h3 class="widget-title h2">Submit your videos</h3>
               <div class="textwidget">Share your videos on our popular video portal. Get maximum exposure to your videos and enjoy our friendly community. Please note that all submitted videos will require admin approval before they go live.</div>
            </div>
         </div>
      </div>
   </div>
   <!-- end #inner-content -->
</div>
<!-- end #content -->