<div id="content">
	<div id="inner-content" class="row clearfix">
		<div id="main" class="large-9 medium-12 columns first clearfix" role="main">
			<%=render(BreadCrumbComponent.new(breadcrumbs: @breadcrumbs)) %>
				<article class="clearfix" role="article">
					<header class="article-header">
						<h1 class="page-title">Blog</h1>
					</header>
					<!-- end article header -->
					<section class="entry-content clearfix" itemprop="articleBody">
						<p>Note that you will probably want to test this page in conjunction with the <span style="text-decoration: underline;"><strong>Home</strong></span>&nbsp;page.</p>
					</section>
					<!-- end article section -->
					<footer class="article-footer">
						<p class="clearfix"></p>
					</footer>
					<!-- end article footer -->
				</article>
		</div>
	</div>
</div>