  <div id="content">
    <div id="inner-content" class="row clearfix">
                  <div id="main" class="large-9 medium-12 columns first clearfix" role="main">
                     <article class="row">
                        <section class="large-12 columns">
                           <article class="row">
                              <section class="large-12 columns">
                                 <div id="tmpl_video_slider_widget-3" class="widget widget_video_slider">
                                    <div class="widget-wrap widget-inside">
                                       <!-- Article start -->
                                       <div class="owl-carousel">
                                          <div class="item-video" data-merge="3">
                                             <a class="owl-video" href="https://vimeo.com/36970827"></a>				
                                             <div class="orbit-caption">
                                                <h2><a href="https://demo.templatic.com/video/videos/funny-hugh-laurie-stephen-fry-comedy-sketch-your-name-sir-bbc-comedy/">Campagnolo. Technologies</a></h2>
                                                <!--<a class="button medium" href="https://demo.templatic.com/video/videos/funny-hugh-laurie-stephen-fry-comedy-sketch-your-name-sir-bbc-comedy/">Read More</a>-->
                                             </div>
                                          </div>
                                          <div class="item-video" data-merge="3">
                                             <a class="owl-video" href="//www.youtube.com/embed/O2N-5maKZ9Q"></a>				
                                             <div class="orbit-caption">
                                                <h2><a href="https://demo.templatic.com/video/videos/dad-at-comedy-barn/">Fun is the Future: Mastering Gamification</a></h2>
                                                <!--<a class="button medium" href="https://demo.templatic.com/video/videos/dad-at-comedy-barn/">Read More</a>-->
                                             </div>
                                          </div>
                                          <div class="item-video" data-merge="3">
                                             <a class="owl-video" href="//www.youtube.com/embed/YrtANPtnhyg"></a>				
                                             <div class="orbit-caption">
                                                <h2><a href="https://demo.templatic.com/video/videos/kicked-in-the-nuts-world-record-holder/">Pranav Mistry: The thrilling potential of SixthSense technology</a></h2>
                                                <!--<a class="button medium" href="https://demo.templatic.com/video/videos/kicked-in-the-nuts-world-record-holder/">Read More</a>-->
                                             </div>
                                          </div>
                                          <div class="item-video" data-merge="3">
                                             <a class="owl-video" href="https://vimeo.com/2891816"></a>				
                                             <div class="orbit-caption">
                                                <h2><a href="https://demo.templatic.com/video/videos/miley-cyrus-the-climb/">Down the Nile</a></h2>
                                                <!--<a class="button medium" href="https://demo.templatic.com/video/videos/miley-cyrus-the-climb/">Read More</a>-->
                                             </div>
                                          </div>
                                          <div class="item-video" data-merge="3">
                                             <a class="owl-video" href="https://www.youtube.com/embed/8TJdP1Uf9x8"></a>				
                                             <div class="orbit-caption">
                                                <h2><a href="https://demo.templatic.com/video/videos/when-i-look-at-you/">Japan travel guide</a></h2>
                                                <!--<a class="button medium" href="https://demo.templatic.com/video/videos/when-i-look-at-you/">Read More</a>-->
                                             </div>
                                          </div>
                                       </div>
                                       <style type="text/css">
                                          .owl-carousel .item-video{height:600px}
                                       </style>
                                       <script type="text/javascript">
                                          jQuery( document ).ready(function() {
                                          	jQuery('.owl-carousel').owlCarousel({
                                          		loop:true,
                                          		dots: true,
                                          						nav: true,
                                          						video:true,
                                          		lazyLoad:true,
                                          		autoplay:false,
                                          		autoplayHoverPause:true,
                                          		center:true,
                                          		onTranslate: function() {
                                          			jQuery('.owl-item').find('video').each(function() {
                                          				this.pause();
                                          			});
                                          		}
                                          	});
                                          });
                                           
                                       </script>
                                       <!-- Article End -->
                                    </div>
                                 </div>
                              </section>
                           </article>
                        </section>
                     </article>
                     <article class="row">
                        <section class="large-12 columns">
                           <div id="tmpl_widget_per_cat_popular_posts-4" class="widget widget_per_cat_popular_posts">
                              <div class="widget-wrap widget-inside">
                                 <h3 class="widget-title h2">Video Categories</h3>
                                 <!-- Article start -->
                                 <div class="row col4-thumb grid">
                                    <div class="main-view clearfix">
                                       <h6><a href="https://demo.templatic.com/video/videoscategory/art/" >Art</a></h6>
                                       <div class="view-img">
                                          <a class="video_thumb" href="https://demo.templatic.com/video/videos/fun-is-the-future-mastering-gamification/" rel="bookmark" title="">		
                                          <img src="https://img.youtube.com/vi/RplnSVTzvnU/maxresdefault.jpg" alt="" title="" /> 
                                          <span class="video-overlay"><i class="fa fa-play-circle-o"></i></span>
                                          </a>
                                       </div>
                                       <div class="view-desc">
                                          <span class="byline"><span class="disabled-btn"><i class="step fa fa-eye"></i> <span>1762070</span></span>  <cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite></span>
                                       </div>
                                    </div>
                                    <div class="main-view clearfix">
                                       <h6><a href="https://demo.templatic.com/video/videoscategory/health/" >Health</a></h6>
                                       <div class="view-img">
                                          <a class="video_thumb" href="https://demo.templatic.com/video/videos/health-station/" rel="bookmark" title="">		
                                          <img data-interchange="[https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/self-educated-patients-and-the-f-278x200.jpg, (default)], [https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/self-educated-patients-and-the-f-556x400.jpg, (retina)]" alt="" title=""  /> 
                                          <span class="video-overlay"><i class="fa fa-play-circle-o"></i></span>
                                          </a>
                                       </div>
                                       <div class="view-desc">
                                          <span class="byline"><span class="disabled-btn"><i class="step fa fa-eye"></i> <span>5832</span></span>  <cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite></span>
                                       </div>
                                    </div>
                                    <div class="main-view clearfix">
                                       <h6><a href="https://demo.templatic.com/video/videoscategory/life/" >Life</a></h6>
                                       <div class="view-img">
                                          <a class="video_thumb" href="https://demo.templatic.com/video/videos/fun-is-the-future-mastering-gamification/" rel="bookmark" title="">		
                                          <img src="https://img.youtube.com/vi/RplnSVTzvnU/maxresdefault.jpg" alt="" title="" /> 
                                          <span class="video-overlay"><i class="fa fa-play-circle-o"></i></span>
                                          </a>
                                       </div>
                                       <div class="view-desc">
                                          <span class="byline"><span class="disabled-btn"><i class="step fa fa-eye"></i> <span>1762070</span></span>  <cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite></span>
                                       </div>
                                    </div>
                                    <div class="main-view clearfix">
                                       <h6><a href="https://demo.templatic.com/video/videoscategory/others/" >Others</a></h6>
                                       <div class="view-img">
                                          <a class="video_thumb" href="https://demo.templatic.com/video/videos/fun-and-frolic-on-the-sets-of-golmaal-3/" rel="bookmark" title="">		
                                          <img data-interchange="[https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/sound-series-technology-278x200.jpg, (default)], [https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/sound-series-technology-556x400.jpg, (retina)]" alt="" title=""  /> 
                                          <span class="video-overlay"><i class="fa fa-play-circle-o"></i></span>
                                          </a>
                                       </div>
                                       <div class="view-desc">
                                          <span class="byline"><span class="disabled-btn"><i class="step fa fa-eye"></i> <span>1240</span></span>  <cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite></span>
                                       </div>
                                    </div>
                                    <div class="main-view clearfix">
                                       <h6><a href="https://demo.templatic.com/video/videoscategory/sports/" >Sports</a></h6>
                                       <div class="view-img">
                                          <a class="video_thumb" href="https://demo.templatic.com/video/videos/comedy-football-top-goals/" rel="bookmark" title="">		
                                          <img data-interchange="[https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/making-an-impact-in-the-world-th-278x200.jpg, (default)], [https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/making-an-impact-in-the-world-th-556x400.jpg, (retina)]" alt="" title=""  /> 
                                          <span class="video-overlay"><i class="fa fa-play-circle-o"></i></span>
                                          </a>
                                       </div>
                                       <div class="view-desc">
                                          <span class="byline"><span class="disabled-btn"><i class="step fa fa-eye"></i> <span>8000</span></span>  <cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite></span>
                                       </div>
                                    </div>
                                    <div class="main-view clearfix">
                                       <h6><a href="https://demo.templatic.com/video/videoscategory/technology/" >Technology</a></h6>
                                       <div class="view-img">
                                          <a class="video_thumb" href="https://demo.templatic.com/video/videos/what-will-future-jobs-look-like/" rel="bookmark" title="">		
                                          <img data-interchange="[https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/what-will-future-jobs-look-like-278x200.jpg, (default)], [https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/what-will-future-jobs-look-like-556x400.jpg, (retina)]" alt="" title=""  /> 
                                          <span class="video-overlay"><i class="fa fa-play-circle-o"></i></span>
                                          </a>
                                       </div>
                                       <div class="view-desc">
                                          <span class="byline"><span class="disabled-btn"><i class="step fa fa-eye"></i> <span>1078644</span></span>  <cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite></span>
                                       </div>
                                    </div>
                                 </div>
                                 <!-- Article End -->
                              </div>
                           </div>
                           <div id="tmpl_widget_latest_videos-6" class="widget widget_latest_videos">
                              <div class="widget-wrap widget-inside">
                                 <h3 class="widget-title h2">Latest Videos</h3>
                                 <!-- Article start -->
                                 <div class="row col4-thumb grid">
                                    <div class="main-view clearfix">
                                       <div class="view-img">
                                          <a class="video_thumb" href="https://demo.templatic.com/video/videos/health-station/" rel="bookmark" title="">		
                                          <img data-interchange="[https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/self-educated-patients-and-the-f-278x200.jpg, (default)], [https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/self-educated-patients-and-the-f-556x400.jpg, (retina)]" alt="" title="Self-Educated Patients and The Future of Cancer Care"  /> 
                                          <span class="video-overlay"><i class="fa fa-play-circle-o"></i></span>
                                          </a>			
                                          <div class="time_overlay"></div>
                                       </div>
                                       <div class="view-desc">
                                          <h6><a href="https://demo.templatic.com/video/videos/health-station/" >Self-Educated Patients and The Future of Cancer Care</a></h6>
                                          <span class="byline"><span class="disabled-btn"><i class="step fa fa-eye"></i> <span>5832</span></span> <cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite>
                                       </div>
                                    </div>
                                    <div class="main-view clearfix">
                                       <div class="view-img">
                                          <a class="video_thumb" href="https://demo.templatic.com/video/videos/best-goals-and-tricks-compilation-online-ft-fernando-torres-fifa-11-sports/" rel="bookmark" title="">		
                                          <img data-interchange="[https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/how-sports-impact-the-lives-of-w-278x200.jpg, (default)], [https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/how-sports-impact-the-lives-of-w.jpg, (retina)]" alt="" title="How Sports Impact the Lives of Women"  /> 
                                          <span class="video-overlay"><i class="fa fa-play-circle-o"></i></span>
                                          </a>			
                                          <div class="time_overlay"></div>
                                       </div>
                                       <div class="view-desc">
                                          <h6><a href="https://demo.templatic.com/video/videos/best-goals-and-tricks-compilation-online-ft-fernando-torres-fifa-11-sports/" >How Sports Impact the Lives of Women</a></h6>
                                          <span class="byline"><span class="disabled-btn"><i class="step fa fa-eye"></i> <span>8108</span></span> <cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite>
                                       </div>
                                    </div>
                                    <div class="main-view clearfix">
                                       <div class="view-img">
                                          <a class="video_thumb" href="https://demo.templatic.com/video/videos/funny-animation/" rel="bookmark" title="">		
                                          <img data-interchange="[https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/anne-marie-slaughter-can-we-all1-278x200.jpg, (default)], [https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/anne-marie-slaughter-can-we-all1-556x400.jpg, (retina)]" alt="" title="Anne-Marie Slaughter: Can we all &#8220;have it all&#8221;?"  /> 
                                          <span class="video-overlay"><i class="fa fa-play-circle-o"></i></span>
                                          </a>			
                                          <div class="time_overlay"></div>
                                       </div>
                                       <div class="view-desc">
                                          <h6><a href="https://demo.templatic.com/video/videos/funny-animation/" >Anne-Marie Slaughter: Can we all &#8220;have it all&#8221;?</a></h6>
                                          <span class="byline"><span class="disabled-btn"><i class="step fa fa-eye"></i> <span>149096</span></span> <cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite>
                                       </div>
                                    </div>
                                    <div class="main-view clearfix">
                                       <div class="view-img">
                                          <a class="video_thumb" href="https://demo.templatic.com/video/videos/fun-is-the-future-mastering-gamification/" rel="bookmark" title="">		
                                          <img src="https://img.youtube.com/vi/RplnSVTzvnU/maxresdefault.jpg" alt="" title="The currency of the new economy is trust" /> 
                                          <span class="video-overlay"><i class="fa fa-play-circle-o"></i></span>
                                          </a>											
                                          <div class="time_overlay"></div>
                                       </div>
                                       <div class="view-desc">
                                          <h6><a href="https://demo.templatic.com/video/videos/fun-is-the-future-mastering-gamification/" >The currency of the new economy is trust</a></h6>
                                          <span class="byline"><span class="disabled-btn"><i class="step fa fa-eye"></i> <span>1762070</span></span> <cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite>
                                       </div>
                                    </div>
                                    <div class="main-view clearfix">
                                       <div class="view-img">
                                          <a class="video_thumb" href="https://demo.templatic.com/video/videos/envision-health/" rel="bookmark" title="">		
                                          <img data-interchange="[https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/envision-health1-278x200.jpg, (default)], [https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/envision-health1-556x360.jpg, (retina)]" alt="" title="Envision Health"  /> 
                                          <span class="video-overlay"><i class="fa fa-play-circle-o"></i></span>
                                          </a>			
                                          <div class="time_overlay">00:00</div>
                                       </div>
                                       <div class="view-desc">
                                          <h6><a href="https://demo.templatic.com/video/videos/envision-health/" >Envision Health</a></h6>
                                          <span class="byline"><span class="disabled-btn"><i class="step fa fa-eye"></i> <span>909</span></span> <cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite>
                                       </div>
                                    </div>
                                    <div class="main-view clearfix">
                                       <div class="view-img">
                                          <a class="video_thumb" href="https://demo.templatic.com/video/videos/comedy-football/" rel="bookmark" title="">		
                                          <img data-interchange="[https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/youth-sports-as-a-development-zo-278x200.jpg, (default)], [https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/youth-sports-as-a-development-zo-556x400.jpg, (retina)]" alt="" title="Youth sports as a development zone"  /> 
                                          <span class="video-overlay"><i class="fa fa-play-circle-o"></i></span>
                                          </a>			
                                          <div class="time_overlay"></div>
                                       </div>
                                       <div class="view-desc">
                                          <h6><a href="https://demo.templatic.com/video/videos/comedy-football/" >Youth sports as a development zone</a></h6>
                                          <span class="byline"><span class="disabled-btn"><i class="step fa fa-eye"></i> <span>71743</span></span> <cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite>
                                       </div>
                                    </div>
                                    <div class="main-view clearfix">
                                       <div class="view-img">
                                          <a class="video_thumb" href="https://demo.templatic.com/video/videos/funny-hugh-laurie-stephen-fry-comedy-sketch-your-name-sir-bbc-comedy/" rel="bookmark" title="">		
                                          <img data-interchange="[https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/campagnolo-technologies-278x200.jpg, (default)], [https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/campagnolo-technologies-556x400.jpg, (retina)]" alt="" title="Campagnolo. Technologies"  /> 
                                          <span class="video-overlay"><i class="fa fa-play-circle-o"></i></span>
                                          </a>			
                                          <div class="time_overlay">00:00</div>
                                       </div>
                                       <div class="view-desc">
                                          <h6><a href="https://demo.templatic.com/video/videos/funny-hugh-laurie-stephen-fry-comedy-sketch-your-name-sir-bbc-comedy/" >Campagnolo. Technologies</a></h6>
                                          <span class="byline"><span class="disabled-btn"><i class="step fa fa-eye"></i> <span>2080</span></span> <cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite>
                                       </div>
                                    </div>
                                    <div class="main-view clearfix">
                                       <div class="view-img">
                                          <a class="video_thumb" href="https://demo.templatic.com/video/videos/beautiful-wistful-girl-timelapse-art-portrait-video/" rel="bookmark" title="">		
                                          <img src="https://img.youtube.com/vi/YyyJ1WxyFAI/maxresdefault.jpg" alt="" title="Beautiful Wistful Girl &#8211; Timelapse Art Portrait Video" /> 
                                          <span class="video-overlay"><i class="fa fa-play-circle-o"></i></span>
                                          </a>											
                                          <div class="time_overlay"></div>
                                       </div>
                                       <div class="view-desc">
                                          <h6><a href="https://demo.templatic.com/video/videos/beautiful-wistful-girl-timelapse-art-portrait-video/" >Beautiful Wistful Girl &#8211; Timelapse Art Portrait Video</a></h6>
                                          <span class="byline"><span class="disabled-btn"><i class="step fa fa-eye"></i> <span>265290</span></span> <cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite>
                                       </div>
                                    </div>
                                    <div class="main-view clearfix">
                                       <div class="view-img">
                                          <a class="video_thumb" href="https://demo.templatic.com/video/videos/expedition-health/" rel="bookmark" title="">		
                                          <img data-interchange="[https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/invest-in-social-change-278x200.jpg, (default)], [https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/invest-in-social-change-556x400.jpg, (retina)]" alt="" title="Invest in social change"  /> 
                                          <span class="video-overlay"><i class="fa fa-play-circle-o"></i></span>
                                          </a>			
                                          <div class="time_overlay"></div>
                                       </div>
                                       <div class="view-desc">
                                          <h6><a href="https://demo.templatic.com/video/videos/expedition-health/" >Invest in social change</a></h6>
                                          <span class="byline"><span class="disabled-btn"><i class="step fa fa-eye"></i> <span>74115</span></span> <cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite>
                                       </div>
                                    </div>
                                 </div>
                                 <!-- Article End -->
                              </div>
                           </div>
                        </section>
                     </article>
                  </div>
                  <!-- end #main -->
                  <!-- Front  Page sidebar -->
                  <div id="sidebar1" class="sidebar large-3 medium-12 columns" role="complementary">
                     <div id="tmpl_adv_widget-18" class="widget widget Advertise">
                        <div class="widget-wrap widget-inside">
                           <div class="advt advt-1c">
                              <img src="https://demo.templatic.com/video/wp-content/uploads/sites/33/2020/06/banner.jpg" class="thumb-img"> 
                           </div>
                        </div>
                     </div>
                     <div id="tmpl_widget_popular_posts-5" class="widget widget_popular_posts">
                        <div class="widget-wrap widget-inside">
                           <h3 class="widget-title h2">Popular Videos</h3>
                           <ul class="grid row">
                              <li class="main-view clearfix">
                                 <div class="view-img">
                                    <a href="https://demo.templatic.com/video/videos/huey-lewis-the-news/"><img class="thumb-img" data-interchange="[https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/tangled-when-will-my-life-begin-278x200.jpg, (default)], [https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/tangled-when-will-my-life-begin-556x400.jpg, (retina)]">
                                    <span class="video-overlay"><i class="fa fa-play-circle-o"></i></span>
                                    </a>
                                 </div>
                                 <div class="view-desc">
                                    <h6><a href="#"><a href="https://demo.templatic.com/video/videos/huey-lewis-the-news/">Tangled &#8211; When Will My Life Begin &#8211; Mandy Moore</a></h6>
                                    <span class="byline">
                                    <span class="disabled-btn"><i class="step fa fa-eye"></i> <span>111330669</span></span>  
                                    <cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite>
                                    </span>
                                 </div>
                              </li>
                              <li class="main-view clearfix">
                                 <div class="view-img">
                                    <a href="https://demo.templatic.com/video/videos/top-10-quirky-science-tricks-for-parties/"><img class="thumb-img" data-interchange="[https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/big-buck-bunny-animation-1080p-h4-278x200.jpg, (default)], [https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/big-buck-bunny-animation-1080p-h4-556x400.jpg, (retina)]">
                                    <span class="video-overlay"><i class="fa fa-play-circle-o"></i></span>
                                    </a>
                                 </div>
                                 <div class="view-desc">
                                    <h6><a href="#"><a href="https://demo.templatic.com/video/videos/top-10-quirky-science-tricks-for-parties/">Big Buck Bunny animation (1080p HD)</a></h6>
                                    <span class="byline">
                                    <span class="disabled-btn"><i class="step fa fa-eye"></i> <span>45559975</span></span>  
                                    <cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite>
                                    </span>
                                 </div>
                              </li>
                              <li class="main-view clearfix">
                                 <div class="view-img">
                                    <a href="https://demo.templatic.com/video/videos/five-news-naked-charity-calendar/"><img class="thumb-img" data-interchange="[https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/animschool-student-showcase-summ1-278x200.jpg, (default)], [https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/animschool-student-showcase-summ1-556x400.jpg, (retina)]">
                                    <span class="video-overlay"><i class="fa fa-play-circle-o"></i></span>
                                    </a>
                                 </div>
                                 <div class="view-desc">
                                    <h6><a href="#"><a href="https://demo.templatic.com/video/videos/five-news-naked-charity-calendar/">AnimSchool Student Showcase Summer2012</a></h6>
                                    <span class="byline">
                                    <span class="disabled-btn"><i class="step fa fa-eye"></i> <span>25616446</span></span>  
                                    <cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite>
                                    </span>
                                 </div>
                              </li>
                              <li class="main-view clearfix">
                                 <div class="view-img">
                                    <a href="https://demo.templatic.com/video/videos/pakistani-army-aids-flood-victims/"><img class="thumb-img" data-interchange="[https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/runaway-by-susan-yung-emily-buch-278x200.jpg, (default)], [https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/runaway-by-susan-yung-emily-buch-556x400.jpg, (retina)]">
                                    <span class="video-overlay"><i class="fa fa-play-circle-o"></i></span>
                                    </a>
                                 </div>
                                 <div class="view-desc">
                                    <h6><a href="#"><a href="https://demo.templatic.com/video/videos/pakistani-army-aids-flood-victims/">&#8220;Runaway&#8221; by Susan Yung, Emily Buchanan and Esther Parobek</a></h6>
                                    <span class="byline">
                                    <span class="disabled-btn"><i class="step fa fa-eye"></i> <span>25235000</span></span>  
                                    <cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite>
                                    </span>
                                 </div>
                              </li>
                              <li class="main-view clearfix">
                                 <div class="view-img">
                                    <a href="https://demo.templatic.com/video/videos/super-food-health-food-sprouts-nutrition-by-natalie/"><img class="thumb-img" data-interchange="[https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/how-to-make-stress-your-friend-278x200.jpg, (default)], [https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/how-to-make-stress-your-friend-556x400.jpg, (retina)]">
                                    <span class="video-overlay"><i class="fa fa-play-circle-o"></i></span>
                                    </a>
                                 </div>
                                 <div class="view-desc">
                                    <h6><a href="#"><a href="https://demo.templatic.com/video/videos/super-food-health-food-sprouts-nutrition-by-natalie/">How to make stress your friend</a></h6>
                                    <span class="byline">
                                    <span class="disabled-btn"><i class="step fa fa-eye"></i> <span>10324926</span></span>  
                                    <cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite>
                                    </span>
                                 </div>
                              </li>
                              <li class="main-view clearfix">
                                 <div class="view-img">
                                    <a href="https://demo.templatic.com/video/videos/why-earth-science/"><img class="thumb-img" data-interchange="[https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/cgi-3d-animated-short-hd-monster-278x200.jpg, (default)], [https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/cgi-3d-animated-short-hd-monster-556x400.jpg, (retina)]">
                                    <span class="video-overlay"><i class="fa fa-play-circle-o"></i></span>
                                    </a>
                                 </div>
                                 <div class="view-desc">
                                    <h6><a href="#"><a href="https://demo.templatic.com/video/videos/why-earth-science/">CGI 3D Animated Short HD: &#8220;Monsterbox&#8221; by &#8211; Team Monster Box</a></h6>
                                    <span class="byline">
                                    <span class="disabled-btn"><i class="step fa fa-eye"></i> <span>5332109</span></span>  
                                    <cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite>
                                    </span>
                                 </div>
                              </li>
                              <li class="main-view clearfix">
                                 <div class="view-img">
                                    <a href="https://demo.templatic.com/video/videos/kicked-in-the-nuts-world-record-holder/"><img class="thumb-img" data-interchange="[https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/pranav-mistry-the-thrilling-pote-278x200.jpg, (default)], [https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/pranav-mistry-the-thrilling-pote.jpg, (retina)]">
                                    <span class="video-overlay"><i class="fa fa-play-circle-o"></i></span>
                                    </a>
                                 </div>
                                 <div class="view-desc">
                                    <h6><a href="#"><a href="https://demo.templatic.com/video/videos/kicked-in-the-nuts-world-record-holder/">Pranav Mistry: The thrilling potential of SixthSense technology</a></h6>
                                    <span class="byline">
                                    <span class="disabled-btn"><i class="step fa fa-eye"></i> <span>4840576</span></span>  
                                    <cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite>
                                    </span>
                                 </div>
                              </li>
                              <li class="main-view clearfix">
                                 <div class="view-img">
                                    <a href="https://demo.templatic.com/video/videos/the-best-goal-celebrations-ever-new/"><img class="thumb-img" src="https://img.youtube.com/vi/0OkOQhXhsIE/maxresdefault.jpg">
                                    <span class="video-overlay"><i class="fa fa-play-circle-o"></i></span>
                                    </a>
                                 </div>
                                 <div class="view-desc">
                                    <h6><a href="#"><a href="https://demo.templatic.com/video/videos/the-best-goal-celebrations-ever-new/">Adversity leads to personal growth</a></h6>
                                    <span class="byline">
                                    <span class="disabled-btn"><i class="step fa fa-eye"></i> <span>3652273</span></span>  
                                    <cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite>
                                    </span>
                                 </div>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <div id="nav_menu-6" class="widget widget_nav_menu">
                        <div class="widget-wrap widget-inside">
                           <h3 class="widget-title h2">Categories</h3>
                           <div class="menu-video-container">
                              <ul id="menu-video" class="menu">
                                 <li id="menu-item-2655" class="menu-item menu-item-type-taxonomy menu-item-object-videoscategory menu-item-2655"><a href="https://demo.templatic.com/video/videoscategory/health/">Health</a></li>
                                 <li id="menu-item-2656" class="menu-item menu-item-type-taxonomy menu-item-object-videoscategory menu-item-2656"><a href="https://demo.templatic.com/video/videoscategory/technology/">Technology</a></li>
                                 <li id="menu-item-2657" class="menu-item menu-item-type-taxonomy menu-item-object-videoscategory menu-item-2657"><a href="https://demo.templatic.com/video/videoscategory/travel/">Travel</a></li>
                                 <li id="menu-item-2658" class="menu-item menu-item-type-taxonomy menu-item-object-videoscategory menu-item-2658"><a href="https://demo.templatic.com/video/videoscategory/sports/">Sports</a></li>
                                 <li id="menu-item-2659" class="menu-item menu-item-type-taxonomy menu-item-object-videoscategory menu-item-2659"><a href="https://demo.templatic.com/video/videoscategory/life/">Life</a></li>
                                 <li id="menu-item-2660" class="menu-item menu-item-type-taxonomy menu-item-object-videoscategory menu-item-2660"><a href="https://demo.templatic.com/video/videoscategory/animation-videos/">Animation</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div id="tmpl_adv_widget-20" class="widget widget Advertise">
                        <div class="widget-wrap widget-inside">
                           <div class="advt advt-1c">
                              <img src="https://demo.templatic.com/video/wp-content/uploads/sites/33/2020/06/banner.jpg" class="thumb-img"> 
                           </div>
                        </div>
                     </div>
                     <div id="recent-comments-5" class="widget widget_recent_comments">
                        <div class="widget-wrap widget-inside">
                           <h3 class="widget-title h2">Recent Comments</h3>
                           <ul id="recentcomments">
                              <li class="recentcomments"><span class="comment-author-link"><a href='http://templatic.com' rel='external nofollow ugc' class='url'>Gerrard Buttler</a></span> on <a href="https://demo.templatic.com/video/title-with-markup/#comment-2585">Title With Markup</a></li>
                              <li class="recentcomments"><span class="comment-author-link"><a href='http://templatic.com' rel='external nofollow ugc' class='url'>Demi Moore</a></span> on <a href="https://demo.templatic.com/video/title-with-markup/#comment-2584">Title With Markup</a></li>
                              <li class="recentcomments"><span class="comment-author-link"><a href='http://templatic.com' rel='external nofollow ugc' class='url'>Angelina Jolie</a></span> on <a href="https://demo.templatic.com/video/title-with-markup/#comment-2583">Title With Markup</a></li>
                              <li class="recentcomments"><span class="comment-author-link"><a href='http://templatic.com' rel='external nofollow ugc' class='url'>Brad Pitt</a></span> on <a href="https://demo.templatic.com/video/title-with-markup/#comment-2582">Title With Markup</a></li>
                              <li class="recentcomments"><span class="comment-author-link"><a href='http://templatic.com' rel='external nofollow ugc' class='url'>Emma Watson</a></span> on <a href="https://demo.templatic.com/video/title-with-markup/#comment-2581">Title With Markup</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <!-- Front  Page sidebar End-->				    
    </div>
    <!-- end #inner-content -->
  </div>
<!-- end #content -->