<div id="content" class="content content_full">
   <div class="row clearfix" id="inner-content">
      <!-- Front  Page sidebar -->
      <div id="sidebar1" class="sidebar large-3 medium-12 columns" role="complementary">
         <div id="tmpl_adv_widget-21" class="widget widget Advertise">
            <div class="widget-wrap widget-inside">
               <div class="advt advt-1c">
                  <a href="/"><img src="<%=asset_path('banner.jpg')%>" class="thumb-img"></a> 
               </div>
            </div>
         </div>
         <div class="widget login_widget" id="login_widget">
            <h3 class="widget-title"><span class="red"></span>Dashboard</h3>
            <ul class="xoxo blogroll">
               <li class="tmpl-login current_page_item">  <a href="https://demo.templatic.com/video/?ptype=login" title="Login"> <i class="fa fa-key"></i> Login</a></li>
               <li class="listing-btn"><a href="https://demo.templatic.com/video/"> <i class="fa fa-play-circle"></i>Add Video</a></li>
            </ul>
         </div>
         <div id="text-7" class="widget widget_text">
            <div class="widget-wrap widget-inside">
               <h3 class="widget-title h2"><span class="red">Submit</span> your videos</h3>
               <div class="textwidget">Share your videos on our popular video portal. Get maximum exposure to your videos and enjoy our friendly community. Please note that all submitted videos will require admin approval before they go live.</div>
            </div>
         </div>
      </div>
      <!-- Front  Page sidebar End-->
      </div>
</div>