<div id="content">
   <div id="inner-content" class="row clearfix">
      <div id="main" class="large-9 medium-12 columns first clearfix" role="main">
         <h1 class="archive-title"><span>Search Results for:</span> </h1>
         <dl class="tabs radius">
            <!-- Grid view /List view -->
            <!-- Button of grid - list view -->
            <div class="grid-list-btn hide-for-xsmall-only right hide-for-small-only">
               <ul class="button-group viewsbox">
                  <li><a href="#" id="gridview" class="active button" style="position: relative; top: 0px;"><i class="fa fa-th step"></i><span>Grid View</span></a></li>
                  <li><a href="#" id="listview" class="button" style="position: relative; top: 0px;"><i class="fa fa-list step"></i><span>List View</span></a></li>
               </ul>
            </div>
            <!-- #End-->
            <!-- #tabs start -->
            <dd class="active"><a href="/video/?s=&amp;post_type%5B%5D=videos">Latest</a></dd>
            <dd class=""><a href="/video/?s=&amp;post_type%5B%5D=videos&amp;most_viewed=videos">Most Viewed</a></dd>
            <dd class=""><a href="/video/?s=&amp;post_type%5B%5D=videos&amp;most_rated=videos">Most Commented</a></dd>
            <!-- #tabs end -->
         </dl>
         <div class="tabs-content list" id="video-cat-content">
            <div class="content thumbnails active" id="most_video_view">
               <!-- Create json for video listing -->
               <div class="main-view clearfix">
                  <div class="hover-overlay">
                     <div class="view-img">
                        <a href="https://demo.templatic.com/video/videos/beautiful-wistful-girl-timelapse-art-portrait-video/"><img data-interchange="[https://demo.templatic.com/video/wp-content/uploads/sites/33/2017/11/beautiful-wistful-girl-timelapse-278x200.jpg, (default)], [https://demo.templatic.com/video/wp-content/uploads/sites/33/2017/11/beautiful-wistful-girl-timelapse-556x400.jpg, (retina)]" class="thumb-img" data-uuid="interchange-kdamhh2j0" src="https://demo.templatic.com/video/wp-content/uploads/sites/33/2017/11/beautiful-wistful-girl-timelapse-278x200.jpg"><span class="video-overlay"><i class="fa fa-play-circle-o"></i></span></a>
                        <div class="time_overlay"></div>
                     </div>
                     <!-- Show video meta -->
                     <div class="view-desc">
                        <h6><a href="https://demo.templatic.com/video/videos/beautiful-wistful-girl-timelapse-art-portrait-video/">Beautiful Wistful Girl – Timelapse Art Portrait Video</a></h6>
                        <span class="byline"><span class="disabled-btn"><i class="step fa fa-eye"></i> <span>265290</span></span><cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite></span>
                        <p class="clearfix"></p>
                        <p>Say Ok is the second single from High School Musicals own Vanessa Hudgens. Her debut album V is in stores now and features the hit single “Come Back To Me”.</p>
                        <p></p>
                     </div>
                  </div>
               </div>
               <div class="main-view clearfix">
                  <div class="hover-overlay">
                     <div class="view-img">
                        <a href="https://demo.templatic.com/video/videos/fun-is-the-future-mastering-gamification/"><img data-interchange="[https://demo.templatic.com/video/wp-content/uploads/sites/33/2017/11/the-currency-of-the-new-economy-278x200.jpg, (default)], [https://demo.templatic.com/video/wp-content/uploads/sites/33/2017/11/the-currency-of-the-new-economy-556x400.jpg, (retina)]" class="thumb-img" data-uuid="interchange-kdamhh2j1" src="https://demo.templatic.com/video/wp-content/uploads/sites/33/2017/11/the-currency-of-the-new-economy-278x200.jpg"><span class="video-overlay"><i class="fa fa-play-circle-o"></i></span></a>
                        <div class="time_overlay"></div>
                     </div>
                     <!-- Show video meta -->
                     <div class="view-desc">
                        <h6><a href="https://demo.templatic.com/video/videos/fun-is-the-future-mastering-gamification/">The currency of the new economy is trust</a></h6>
                        <span class="byline"><span class="disabled-btn"><i class="step fa fa-eye"></i> <span>1762963</span></span><cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite></span>
                        <p class="clearfix"></p>
                        <p>This is your video description section where you can explain this video in brief. This section can be edited easily from Dashboard&gt;&gt; Video&gt;&gt; Edit. WordPress provides a visual editor to enter this description with a lot of formatting options, You can highlight important content with Bold, Italic, Underline options, you can also use ordered and… <a href="https://demo.templatic.com/video/videos/fun-is-the-future-mastering-gamification/" class="read-more-link">Read more » </a></p>
                        <p></p>
                     </div>
                  </div>
               </div>
               <div class="main-view clearfix">
                  <div class="hover-overlay">
                     <div class="view-img">
                        <a href="https://demo.templatic.com/video/videos/facts-that-will-make-you-want-to-travel/"><img data-interchange="[https://demo.templatic.com/video/wp-content/uploads/sites/33/2018/01/facts-that-will-make-you-want-to-2-278x200.jpg, (default)], [https://demo.templatic.com/video/wp-content/uploads/sites/33/2018/01/facts-that-will-make-you-want-to-2-556x400.jpg, (retina)]" class="thumb-img" data-uuid="interchange-kdamhh2j2" src="https://demo.templatic.com/video/wp-content/uploads/sites/33/2018/01/facts-that-will-make-you-want-to-2-278x200.jpg"><span class="video-overlay"><i class="fa fa-play-circle-o"></i></span></a>
                        <div class="time_overlay"></div>
                     </div>
                     <!-- Show video meta -->
                     <div class="view-desc">
                        <h6><a href="https://demo.templatic.com/video/videos/facts-that-will-make-you-want-to-travel/">Facts That Will Make You Want To Travel</a></h6>
                        <span class="byline"><span class="disabled-btn"><i class="step fa fa-eye"></i> <span>9315</span></span><cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite></span>
                        <p class="clearfix"></p>
                        <p>This is your video description section where you can explain this video in brief. This section can be edited easily from Dashboard&gt;&gt; Video&gt;&gt; Edit. WordPress provides a visual editor to enter this description with a lot of formatting options, You can highlight important content with Bold, Italic, Underline options, you can also use ordered and… <a href="https://demo.templatic.com/video/videos/facts-that-will-make-you-want-to-travel/" class="read-more-link">Read more » </a></p>
                        <p></p>
                     </div>
                  </div>
               </div>
               <div class="main-view clearfix">
                  <div class="hover-overlay">
                     <div class="view-img">
                        <a href="https://demo.templatic.com/video/videos/the-twilight-saga-eclipse-official-full-trailer-hd/"><img data-interchange="[https://demo.templatic.com/video/wp-content/uploads/sites/33/2017/11/travel-love-278x200.jpg, (default)], [https://demo.templatic.com/video/wp-content/uploads/sites/33/2017/11/travel-love-556x400.jpg, (retina)]" class="thumb-img" data-uuid="interchange-kdamhh2j3" src="https://demo.templatic.com/video/wp-content/uploads/sites/33/2017/11/travel-love-278x200.jpg"><span class="video-overlay"><i class="fa fa-play-circle-o"></i></span></a>
                        <div class="time_overlay"></div>
                     </div>
                     <!-- Show video meta -->
                     <div class="view-desc">
                        <h6><a href="https://demo.templatic.com/video/videos/the-twilight-saga-eclipse-official-full-trailer-hd/">Travel Love</a></h6>
                        <span class="byline"><span class="disabled-btn"><i class="step fa fa-eye"></i> <span>0 </span></span><cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite></span>
                        <p class="clearfix"></p>
                        <p>The Twilight Saga: Eclipse Full Trailer is finally online! Check it out and make sure to Subscribe to our channel for all the latest Twilight News.</p>
                        <p></p>
                     </div>
                  </div>
               </div>
               <div class="main-view clearfix">
                  <div class="hover-overlay">
                     <div class="view-img">
                        <a href="https://demo.templatic.com/video/videos/vanessa-hudgens-say-ok-music-video-official-with-zac-efron/"><img data-interchange="[https://demo.templatic.com/video/wp-content/uploads/sites/33/2017/11/mykonos-and-tinos-islands-in-gre-278x200.jpg, (default)], [https://demo.templatic.com/video/wp-content/uploads/sites/33/2017/11/mykonos-and-tinos-islands-in-gre-556x400.jpg, (retina)]" class="thumb-img" data-uuid="interchange-kdamhh2j4" src="https://demo.templatic.com/video/wp-content/uploads/sites/33/2017/11/mykonos-and-tinos-islands-in-gre-278x200.jpg"><span class="video-overlay"><i class="fa fa-play-circle-o"></i></span></a>
                        <div class="time_overlay"></div>
                     </div>
                     <!-- Show video meta -->
                     <div class="view-desc">
                        <h6><a href="https://demo.templatic.com/video/videos/vanessa-hudgens-say-ok-music-video-official-with-zac-efron/">Venice Vacation Travel Guide</a></h6>
                        <span class="byline"><span class="disabled-btn"><i class="step fa fa-eye"></i> <span>3598205</span></span><cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite></span>
                        <p class="clearfix"></p>
                        <p>Say Ok is the second single from High School Musicals own Vanessa Hudgens. Her debut album V is in stores now and features the hit single “Come Back To Me”.</p>
                        <p></p>
                     </div>
                  </div>
               </div>
               <div class="main-view clearfix">
                  <div class="hover-overlay">
                     <div class="view-img">
                        <a href="https://demo.templatic.com/video/videos/star-wars-the-clone-wars/"><img data-interchange="[https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/03/west-coast-2560x1440-last-snow-gothenburg-sweden-1904-278x200.jpg, (default)], [https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/03/west-coast-2560x1440-last-snow-gothenburg-sweden-1904-556x400.jpg, (retina)]" class="thumb-img" data-uuid="interchange-kdamhh2j5" src="https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/03/west-coast-2560x1440-last-snow-gothenburg-sweden-1904-278x200.jpg"><span class="video-overlay"><i class="fa fa-play-circle-o"></i></span></a>
                        <div class="time_overlay"></div>
                     </div>
                     <!-- Show video meta -->
                     <div class="view-desc">
                        <h6><a href="https://demo.templatic.com/video/videos/star-wars-the-clone-wars/">West Coast Trip – San Francisco, Los Angeles, Malibu, Anaheim, San Diego, Las Vegas &amp; Grand Canyon</a></h6>
                        <span class="byline"><span class="disabled-btn"><i class="step fa fa-eye"></i> <span>352423</span></span><cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite></span>
                        <p class="clearfix"></p>
                        <p>From Darth Mauls brother to Asajj Ventress origins, we analyze the new revelations.</p>
                        <p></p>
                     </div>
                  </div>
               </div>
               <div class="main-view clearfix">
                  <div class="hover-overlay">
                     <div class="view-img">
                        <a href="https://demo.templatic.com/video/videos/iron-man-2-trailer-2-official/"><img data-interchange="[https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/48h-in-new-york-city-278x200.jpg, (default)], [https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/48h-in-new-york-city-556x400.jpg, (retina)]" class="thumb-img" data-uuid="interchange-kdamhh2j6" src="https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/48h-in-new-york-city-278x200.jpg"><span class="video-overlay"><i class="fa fa-play-circle-o"></i></span></a>
                        <div class="time_overlay">00:00</div>
                     </div>
                     <!-- Show video meta -->
                     <div class="view-desc">
                        <h6><a href="https://demo.templatic.com/video/videos/iron-man-2-trailer-2-official/">48h in New-York City</a></h6>
                        <span class="byline"><span class="disabled-btn"><i class="step fa fa-eye"></i> <span>1409</span></span><cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite></span>
                        <p class="clearfix"></p>
                        <p>You wanted more “Iron Man 2” You got it! Feast your eyes on the second official Iron Man 2 trailer! Watch it now!</p>
                        <p></p>
                     </div>
                  </div>
               </div>
               <div class="main-view clearfix">
                  <div class="hover-overlay">
                     <div class="view-img">
                        <a href="https://demo.templatic.com/video/videos/tron-legacy-trailer-2-hq-1080p/"><img data-interchange="[https://demo.templatic.com/video/wp-content/uploads/sites/33/2017/11/aqueous-transmission-278x200.jpg, (default)], [https://demo.templatic.com/video/wp-content/uploads/sites/33/2017/11/aqueous-transmission-556x400.jpg, (retina)]" class="thumb-img" data-uuid="interchange-kdamhh2j7" src="https://demo.templatic.com/video/wp-content/uploads/sites/33/2017/11/aqueous-transmission-278x200.jpg"><span class="video-overlay"><i class="fa fa-play-circle-o"></i></span></a>
                        <div class="time_overlay"></div>
                     </div>
                     <!-- Show video meta -->
                     <div class="view-desc">
                        <h6><a href="https://demo.templatic.com/video/videos/tron-legacy-trailer-2-hq-1080p/">Aqueous Transmission</a></h6>
                        <span class="byline"><span class="disabled-btn"><i class="step fa fa-eye"></i> <span>88272</span></span><cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite></span>
                        <p class="clearfix"></p>
                        <p>TRON LEGACY coming to theaters 2010 in Disney Digital 3D.</p>
                        <p></p>
                     </div>
                  </div>
               </div>
               <div class="main-view clearfix">
                  <div class="hover-overlay">
                     <div class="view-img">
                        <a href="https://demo.templatic.com/video/videos/selena-gomez-the-scene-round-round/"><img data-interchange="[https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/03/hong-kong-278x200.jpg, (default)], [https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/03/hong-kong-556x400.jpg, (retina)]" class="thumb-img" data-uuid="interchange-kdamhh2j8" src="https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/03/hong-kong-278x200.jpg"><span class="video-overlay"><i class="fa fa-play-circle-o"></i></span></a>
                        <div class="time_overlay"></div>
                     </div>
                     <!-- Show video meta -->
                     <div class="view-desc">
                        <h6><a href="https://demo.templatic.com/video/videos/selena-gomez-the-scene-round-round/">Hong Kong Vacation Travel Guide</a></h6>
                        <span class="byline"><span class="disabled-btn"><i class="step fa fa-eye"></i> <span>791343</span></span><cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite></span>
                        <p class="clearfix"></p>
                        <p>Selena Gomezs brand new album A Year Without Rain is available now</p>
                        <p></p>
                     </div>
                  </div>
               </div>
               <div class="main-view clearfix">
                  <div class="hover-overlay">
                     <div class="view-img">
                        <a href="https://demo.templatic.com/video/videos/when-i-look-at-you/"><img data-interchange="[https://demo.templatic.com/video/wp-content/uploads/sites/33/2017/11/japan-travel-guide-278x200.jpg, (default)], [https://demo.templatic.com/video/wp-content/uploads/sites/33/2017/11/japan-travel-guide-556x400.jpg, (retina)]" class="thumb-img" data-uuid="interchange-kdamhh2j9" src="https://demo.templatic.com/video/wp-content/uploads/sites/33/2017/11/japan-travel-guide-278x200.jpg"><span class="video-overlay"><i class="fa fa-play-circle-o"></i></span></a>
                        <div class="time_overlay"></div>
                     </div>
                     <!-- Show video meta -->
                     <div class="view-desc">
                        <h6><a href="https://demo.templatic.com/video/videos/when-i-look-at-you/">Japan travel guide</a></h6>
                        <span class="byline"><span class="disabled-btn"><i class="step fa fa-eye"></i> <span>712958</span></span><cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite></span>
                        <p class="clearfix"></p>
                        <p>Music video by Miley Cyrus performing When I Look At You</p>
                        <p></p>
                     </div>
                  </div>
               </div>
               <div class="main-view clearfix">
                  <div class="hover-overlay">
                     <div class="view-img">
                        <a href="https://demo.templatic.com/video/videos/miley-cyrus-cant-be-tamed/"><img data-interchange="[https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/toronto-vacation-travel-guide-278x200.jpg, (default)], [https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/toronto-vacation-travel-guide-556x400.jpg, (retina)]" class="thumb-img" data-uuid="interchange-kdamhh2ja" src="https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/toronto-vacation-travel-guide-278x200.jpg"><span class="video-overlay"><i class="fa fa-play-circle-o"></i></span></a>
                        <div class="time_overlay"></div>
                     </div>
                     <!-- Show video meta -->
                     <div class="view-desc">
                        <h6><a href="https://demo.templatic.com/video/videos/miley-cyrus-cant-be-tamed/">Toronto Vacation Travel Guide</a></h6>
                        <span class="byline"><span class="disabled-btn"><i class="step fa fa-eye"></i> <span>1937419</span></span><cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite></span>
                        <p class="clearfix"></p>
                        <p>The official music video from Miley Cyrus performing Cant be tamed.</p>
                        <p></p>
                     </div>
                  </div>
               </div>
               <div class="main-view clearfix">
                  <div class="hover-overlay">
                     <div class="view-img">
                        <a href="https://demo.templatic.com/video/videos/miley-cyrus-the-climb/"><img data-interchange="[https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/down-the-nile-278x200.jpg, (default)], [https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/down-the-nile-556x400.jpg, (retina)]" class="thumb-img" data-uuid="interchange-kdamhh2jb" src="https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/down-the-nile-278x200.jpg"><span class="video-overlay"><i class="fa fa-play-circle-o"></i></span></a>
                        <div class="time_overlay">00:00</div>
                     </div>
                     <!-- Show video meta -->
                     <div class="view-desc">
                        <h6><a href="https://demo.templatic.com/video/videos/miley-cyrus-the-climb/">Down the Nile</a></h6>
                        <span class="byline"><span class="disabled-btn"><i class="step fa fa-eye"></i> <span>1244</span></span><cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite></span>
                        <p class="clearfix"></p>
                        <p>The Climb is the brand new hit single from Miley Cyrus available on Hannah Montana: The Movie Soundtrack in stores March 24! Hannah Montana: The Movie only in Theaters April 10.</p>
                        <p></p>
                     </div>
                  </div>
               </div>
               <div class="main-view clearfix">
                  <div class="hover-overlay">
                     <div class="view-img">
                        <a href="https://demo.templatic.com/video/videos/kicked-in-the-nuts-world-record-holder/"><img data-interchange="[https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/pranav-mistry-the-thrilling-pote-278x200.jpg, (default)], [https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/pranav-mistry-the-thrilling-pote.jpg, (retina)]" class="thumb-img" data-uuid="interchange-kdamhh2jc" src="https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/pranav-mistry-the-thrilling-pote-278x200.jpg"><span class="video-overlay"><i class="fa fa-play-circle-o"></i></span></a>
                        <div class="time_overlay"></div>
                     </div>
                     <!-- Show video meta -->
                     <div class="view-desc">
                        <h6><a href="https://demo.templatic.com/video/videos/kicked-in-the-nuts-world-record-holder/">Pranav Mistry: The thrilling potential of SixthSense technology</a></h6>
                        <span class="byline"><span class="disabled-btn"><i class="step fa fa-eye"></i> <span>4840576</span></span><cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite></span>
                        <p class="clearfix"></p>
                        <p>WTF TV hits the streets to set a world record for how many times one guy can get women on the street to kick him in the nuts. So painful, so funny.</p>
                        <p></p>
                     </div>
                  </div>
               </div>
               <div class="main-view clearfix">
                  <div class="hover-overlay">
                     <div class="view-img">
                        <a href="https://demo.templatic.com/video/videos/dad-at-comedy-barn/"><img data-interchange="[https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/fun-is-the-future-mastering-gami3-278x200.jpg, (default)], [https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/fun-is-the-future-mastering-gami3-556x400.jpg, (retina)]" class="thumb-img" data-uuid="interchange-kdamhh2jd" src="https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/fun-is-the-future-mastering-gami3-278x200.jpg"><span class="video-overlay"><i class="fa fa-play-circle-o"></i></span></a>
                        <div class="time_overlay"></div>
                     </div>
                     <!-- Show video meta -->
                     <div class="view-desc">
                        <h6><a href="https://demo.templatic.com/video/videos/dad-at-comedy-barn/">Fun is the Future: Mastering Gamification</a></h6>
                        <span class="byline"><span class="disabled-btn"><i class="step fa fa-eye"></i> <span>252847</span></span><cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite></span>
                        <p class="clearfix"></p>
                        <p>This is my father. Yes, that is his real laugh. Enjoy</p>
                        <p></p>
                     </div>
                  </div>
               </div>
               <div class="main-view clearfix">
                  <div class="hover-overlay">
                     <div class="view-img">
                        <a href="https://demo.templatic.com/video/videos/what-will-future-jobs-look-like/"><img data-interchange="[https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/what-will-future-jobs-look-like-278x200.jpg, (default)], [https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/what-will-future-jobs-look-like-556x400.jpg, (retina)]" class="thumb-img" data-uuid="interchange-kdamhh2je" src="https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/what-will-future-jobs-look-like-278x200.jpg"><span class="video-overlay"><i class="fa fa-play-circle-o"></i></span></a>
                        <div class="time_overlay"></div>
                     </div>
                     <!-- Show video meta -->
                     <div class="view-desc">
                        <h6><a href="https://demo.templatic.com/video/videos/what-will-future-jobs-look-like/">What will future jobs look like?</a></h6>
                        <span class="byline"><span class="disabled-btn"><i class="step fa fa-eye"></i> <span>1078644</span></span><cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite></span>
                        <p class="clearfix"></p>
                        <p>This is your video description section where you can explain this video in brief. This section can be edited easily from Dashboard&gt;&gt; Video&gt;&gt; Edit. WordPress provides a visual editor to enter this description with a lot of formatting options, You can highlight important content with Bold, Italic, Underline options, you can also use ordered and… <a href="https://demo.templatic.com/video/videos/what-will-future-jobs-look-like/" class="read-more-link">Read more » </a></p>
                        <p></p>
                     </div>
                  </div>
               </div>
               <div class="main-view clearfix">
                  <div class="hover-overlay">
                     <div class="view-img">
                        <a href="https://demo.templatic.com/video/videos/google-threatens-to-kill-users-comedy/"><img data-interchange="[https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/nicolas-perony-puppies-now-that-278x200.jpg, (default)], [https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/nicolas-perony-puppies-now-that-556x400.jpg, (retina)]" class="thumb-img" data-uuid="interchange-kdamhh2jf" src="https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/nicolas-perony-puppies-now-that-278x200.jpg"><span class="video-overlay"><i class="fa fa-play-circle-o"></i></span></a>
                        <div class="time_overlay"></div>
                     </div>
                     <!-- Show video meta -->
                     <div class="view-desc">
                        <h6><a href="https://demo.templatic.com/video/videos/google-threatens-to-kill-users-comedy/">Puppies! Now that I’ve got your attention, complexity theory</a></h6>
                        <span class="byline"><span class="disabled-btn"><i class="step fa fa-eye"></i> <span>111169</span></span><cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite></span>
                        <p class="clearfix"></p>
                        <p>This is your video description section where you can explain this video in brief. This section can be edited easily from Dashboard&gt;&gt; Video&gt;&gt; Edit. WordPress provides a visual editor to enter this description with a lot of formatting options, You can highlight important content with Bold, Italic, Underline options, you can also use ordered and… <a href="https://demo.templatic.com/video/videos/google-threatens-to-kill-users-comedy/" class="read-more-link">Read more » </a></p>
                        <p></p>
                     </div>
                  </div>
               </div>
               <div class="main-view clearfix">
                  <div class="hover-overlay">
                     <div class="view-img">
                        <a href="https://demo.templatic.com/video/videos/funny-hugh-laurie-stephen-fry-comedy-sketch-your-name-sir-bbc-comedy/"><img data-interchange="[https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/campagnolo-technologies-278x200.jpg, (default)], [https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/campagnolo-technologies-556x400.jpg, (retina)]" class="thumb-img" data-uuid="interchange-kdamhh2jg" src="https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/campagnolo-technologies-278x200.jpg"><span class="video-overlay"><i class="fa fa-play-circle-o"></i></span></a>
                        <div class="time_overlay">00:00</div>
                     </div>
                     <!-- Show video meta -->
                     <div class="view-desc">
                        <h6><a href="https://demo.templatic.com/video/videos/funny-hugh-laurie-stephen-fry-comedy-sketch-your-name-sir-bbc-comedy/">Campagnolo. Technologies</a></h6>
                        <span class="byline"><span class="disabled-btn"><i class="step fa fa-eye"></i> <span>2080</span></span><cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite></span>
                        <p class="clearfix"></p>
                        <p>This is your video description section where you can explain this video in brief. This section can be edited easily from Dashboard&gt;&gt; Video&gt;&gt; Edit. WordPress provides a visual editor to enter this description with a lot of formatting options, You can highlight important content with Bold, Italic, Underline options, you can also use ordered and… <a href="https://demo.templatic.com/video/videos/funny-hugh-laurie-stephen-fry-comedy-sketch-your-name-sir-bbc-comedy/" class="read-more-link">Read more » </a></p>
                        <p></p>
                     </div>
                  </div>
               </div>
               <div class="main-view clearfix">
                  <div class="hover-overlay">
                     <div class="view-img">
                        <a href="https://demo.templatic.com/video/videos/funny-animation/"><img data-interchange="[https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/anne-marie-slaughter-can-we-all1-278x200.jpg, (default)], [https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/anne-marie-slaughter-can-we-all1-556x400.jpg, (retina)]" class="thumb-img" data-uuid="interchange-kdamhh2jh" src="https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/anne-marie-slaughter-can-we-all1-278x200.jpg"><span class="video-overlay"><i class="fa fa-play-circle-o"></i></span></a>
                        <div class="time_overlay"></div>
                     </div>
                     <!-- Show video meta -->
                     <div class="view-desc">
                        <h6><a href="https://demo.templatic.com/video/videos/funny-animation/">Anne-Marie Slaughter: Can we all “have it all”?</a></h6>
                        <span class="byline"><span class="disabled-btn"><i class="step fa fa-eye"></i> <span>149096</span></span><cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite></span>
                        <p class="clearfix"></p>
                        <p>This is your video description section where you can explain this video in brief. This section can be edited easily from Dashboard&gt;&gt; Video&gt;&gt; Edit. WordPress provides a visual editor to enter this description with a lot of formatting options, You can highlight important content with Bold, Italic, Underline options, you can also use ordered and… <a href="https://demo.templatic.com/video/videos/funny-animation/" class="read-more-link">Read more » </a></p>
                        <p></p>
                     </div>
                  </div>
               </div>
               <div class="main-view clearfix">
                  <div class="hover-overlay">
                     <div class="view-img">
                        <a href="https://demo.templatic.com/video/videos/funny-bird/"><img data-interchange="[https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/10-tactics-for-turning-informati-278x200.jpg, (default)], [https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/10-tactics-for-turning-informati-556x352.jpg, (retina)]" class="thumb-img" data-uuid="interchange-kdamhh2ji" src="https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/10-tactics-for-turning-informati-278x200.jpg"><span class="video-overlay"><i class="fa fa-play-circle-o"></i></span></a>
                        <div class="time_overlay">00:00</div>
                     </div>
                     <!-- Show video meta -->
                     <div class="view-desc">
                        <h6><a href="https://demo.templatic.com/video/videos/funny-bird/">10 tactics for turning information into action</a></h6>
                        <span class="byline"><span class="disabled-btn"><i class="step fa fa-eye"></i> <span>1265</span></span><cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite></span>
                        <p class="clearfix"></p>
                        <p>This is your video description section where you can explain this video in brief. This section can be edited easily from Dashboard&gt;&gt; Video&gt;&gt; Edit. WordPress provides a visual editor to enter this description with a lot of formatting options, You can highlight important content with Bold, Italic, Underline options, you can also use ordered and… <a href="https://demo.templatic.com/video/videos/funny-bird/" class="read-more-link">Read more » </a></p>
                        <p></p>
                     </div>
                  </div>
               </div>
               <div class="main-view clearfix">
                  <div class="hover-overlay">
                     <div class="view-img">
                        <a href="https://demo.templatic.com/video/videos/funny-video/"><img data-interchange="[https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/the-future-is-ours-278x200.jpg, (default)], [https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/the-future-is-ours-556x400.jpg, (retina)]" class="thumb-img" data-uuid="interchange-kdamhh2jj" src="https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/the-future-is-ours-278x200.jpg"><span class="video-overlay"><i class="fa fa-play-circle-o"></i></span></a>
                        <div class="time_overlay">00:00</div>
                     </div>
                     <!-- Show video meta -->
                     <div class="view-desc">
                        <h6><a href="https://demo.templatic.com/video/videos/funny-video/">The Future is Ours</a></h6>
                        <span class="byline"><span class="disabled-btn"><i class="step fa fa-eye"></i> <span>1335</span></span><cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite></span>
                        <p class="clearfix"></p>
                        <p>This is your video description section where you can explain this video in brief. This section can be edited easily from Dashboard&gt;&gt; Video&gt;&gt; Edit. WordPress provides a visual editor to enter this description with a lot of formatting options, You can highlight important content with Bold, Italic, Underline options, you can also use ordered and… <a href="https://demo.templatic.com/video/videos/funny-video/" class="read-more-link">Read more » </a></p>
                        <p></p>
                     </div>
                  </div>
               </div>
               <div class="main-view clearfix">
                  <div class="hover-overlay">
                     <div class="view-img">
                        <a href="https://demo.templatic.com/video/videos/star-wars-retold-by-someone-who-hasnt-seen-it/"><img data-interchange="[https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/carin-bondar-the-birds-and-the-b-278x200.jpg, (default)], [https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/carin-bondar-the-birds-and-the-b-556x400.jpg, (retina)]" class="thumb-img" data-uuid="interchange-kdamhh2jk" src="https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/carin-bondar-the-birds-and-the-b-278x200.jpg"><span class="video-overlay"><i class="fa fa-play-circle-o"></i></span></a>
                        <div class="time_overlay"></div>
                     </div>
                     <!-- Show video meta -->
                     <div class="view-desc">
                        <h6><a href="https://demo.templatic.com/video/videos/star-wars-retold-by-someone-who-hasnt-seen-it/">The birds and the bees are just the beginning</a></h6>
                        <span class="byline"><span class="disabled-btn"><i class="step fa fa-eye"></i> <span>167070</span></span><cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite></span>
                        <p class="clearfix"></p>
                        <p>This is your video description section where you can explain this video in brief. This section can be edited easily from Dashboard&gt;&gt; Video&gt;&gt; Edit. WordPress provides a visual editor to enter this description with a lot of formatting options, You can highlight important content with Bold, Italic, Underline options, you can also use ordered and… <a href="https://demo.templatic.com/video/videos/star-wars-retold-by-someone-who-hasnt-seen-it/" class="read-more-link">Read more » </a></p>
                        <p></p>
                     </div>
                  </div>
               </div>
               <nav class="page-navigation pagination-centered">
                  <ul class="pagination">
                     <li class="bpn-prev-link"></li>
                     <li class="current"><a href="https://demo.templatic.com/video/?s&amp;post_type%5B0%5D=videos">1</a></li>
                     <li><a href="https://demo.templatic.com/video/page/2/?s&amp;post_type%5B0%5D=videos">2</a></li>
                     <li><a href="https://demo.templatic.com/video/page/3/?s&amp;post_type%5B0%5D=videos">3</a></li>
                     <li class="bpn-next-link"><a href="https://demo.templatic.com/video/page/2/?s&amp;post_type%5B0%5D=videos"><i class="fa fa-angle-right"></i></a></li>
                  </ul>
               </nav>
               <!-- Create json for video listing end -->
            </div>
         </div>
      </div>
      <!-- end #main -->
      <!-- Primary Sidebar widget -->
      <div id="sidebar1" class="sidebar large-3 medium-12 columns" role="complementary">
         <div id="tmpl_adv_widget-3" class="widget widget Advertise">
            <div class="widget-wrap widget-inside">
               <div class="advt advt-1c">
                  <a href="http://templatic.com"><img src="https://demo.templatic.com/video/wp-content/uploads/sites/33/2020/06/banner.jpg"></a> 
               </div>
            </div>
         </div>
         <div id="tmpl_subscriber_widget-8" class="widget widget Newsletter subscribe">
            <div class="widget-wrap widget-inside">
               <div class="subscribe newsletter_subscribe_footer_widget">
                  <div class="subscribe_wall">
                     <div class="subscribe_cont">
                        <h3 class="widget-title h2"><span class="red">Subscribe</span> To Newsletter</h3>
                        <p> Get latest news about us directly in your inbox. We will never spam, Promise. </p>
                        <span class="newsletter_msg" id="newsletter_msg"> </span>
                        <input type="text" name="name" id="name" value="" class="field" onfocus="if (this.placeholder == 'Name') {this.placeholder = '';}" onblur="if (this.placeholder == '') {this.placeholder = 'Name';}" placeholder="Name">
                        <input type="text" name="email" id="email" value="" class="field" onfocus="if (this.placeholder == 'Your Email Address') {this.placeholder = '';}" onblur="if (this.placeholder == '') {this.placeholder = 'Your Email Address';}" placeholder="Your Email Address">
                        <input class="replace button" type="submit" name="mailchimp_submit" id="mailchimp_submit" value="Subscribe">
                     </div>
                  </div>
               </div>
               <!--End mc_embed_signup-->
            </div>
         </div>
      </div>
   </div>
   <!-- end #inner-content -->
</div>