  <div id="content">
               <div id="inner-content" class="row clearfix">
                  <div id="main" class="large-9 medium-12 columns first clearfix" role="main">
                      <%= render(BreadCrumbComponent.new(breadcrumbs: @breadcrumbs)) %>
                     <!-- display video -->	
                     <!-- display video end -->
                     <article class="row detail-video">
                        <div class="large-12 columns">
                           <div class="flex-video">
                              <%=render(VideoViewComponent.new(video: @video)) %>
                           </div>
                        </div>
                     </article>
                     <!-- display video slider-->
                     <header class="row detail-title-gravitar">
                        <!-- Show gravtar -->
                        <!-- Show title end  -->
                        <div class="medium-10 small-12  columns detail-title">
                           <h1 itemprop="headline">Down the Nile</h1>
                           <p class="byline"> Posted by <span itemprop="author" itemscope itemtype="//schema.org/Person" class="author"><a href="https://demo.templatic.com/video/author/admin/" title="Posts by Upendra " rel="author">Upendra </a></span> on <time class="updated" datetime="2017-08-18" pubdate>August 18, 2017</time> in <a href="https://demo.templatic.com/video/videoscategory/art/">Art</a>, <a href="https://demo.templatic.com/video/videoscategory/life/">Life</a>, <a href="https://demo.templatic.com/video/videoscategory/nature/">Nature</a>, <a href="https://demo.templatic.com/video/videoscategory/others/">Others</a>, <a href="https://demo.templatic.com/video/videoscategory/science/">Science</a>, <a href="https://demo.templatic.com/video/videoscategory/travel/">Travel</a>, <a href="https://demo.templatic.com/video/videoscategory/videos/">Videos</a> </p>
                        </div>
                     </header>
                     <!-- end article header -->
                     <!-- display video slider end -->
                     <!-- Show views and share button -->
                     <article class="row meta-transparent-buttons">
                        <div class="medium-5 small-12 columns">
                           <ul class="button-group">
                              <li><a class="button" href="#respond"><i class="step fa fa-comment"></i><span>0</span></a></li>
                              <li class="disabled-btn"><i class="step fa fa-eye"></i><span><span>1,244</span> Views</span></li>
                           </ul>
                        </div>
                        <!-- Social media share buttons -->
                        <div class="medium-7 small-12 columns">
                           <ul class="button-group right social-media-links">
                              <li><a class="button" href="//twitter.com/home?status=Reading: https://demo.templatic.com/video/videos/miley-cyrus-the-climb/" title="Share this post on Twitter!" target="_blank"><i class="step fa fa-twitter"></i> </a></li>
                              <li><a class="button" href="//www.facebook.com/sharer.php?u=https://demo.templatic.com/video/videos/miley-cyrus-the-climb/&amp;t=Down the Nile" title="Share this post on Facebook!" target="_blank"> <i class="step fa fa-facebook"></i> </a></li>
                              <li class="share-reddit"><a rel="nofollow" class="share-reddit sd-button share-icon no-text" href="//blog.ted.com/2013/12/05/tedwomen-2013-session-3/?share=reddit" target="_blank" title="Click to share on Reddit"><span></span></a></li>
                              <li class="share-email"><a rel="nofollow" class="share-email sd-button share-icon no-text" href="//blog.ted.com/2013/12/05/tedwomen-2013-session-3/?share=email" target="_blank" title="Click to email this to a friend"><span></span></a></li>
                              <li class="more-social">
                                 <span class="button"><i class="fa fa-ellipsis-h"></i></span>
                                 <ul class="no-style more">
                                    <li><a class="google-plus" target="_blank" href="https://plus.google.com/share?url=https://demo.templatic.com/video/videos/miley-cyrus-the-climb/"><i class="fa fa-google-plus"></i> Google+</a></li>
                                    <li><a href="//pinterest.com/pin/create/button/?url=https://demo.templatic.com/video/videos/miley-cyrus-the-climb/"  count-layout="none"><i class="fa fa-pinterest"></i> Pin It</a></li>
                                    <li><a href="//www.linkedin.com/shareArticle?mini=true&url=https://demo.templatic.com/video/videos/miley-cyrus-the-climb/&title=Down the Nile&summary=Down the Nile&source=https://demo.templatic.com/video"  count-layout="none"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
                                    <li><a href="mailto:"te&#115;t.tem&#112;&#108;&#97;ti&#99;&#64;&#103;&#109;a&#105;l&#46;co&#109;""><i class="fa fa-envelope"></i>Email</a></li>
                                 </ul>
                              </li>
                              <!--  <a class="google-plus" target="_blank" href="https://plus.google.com/share?url=">Google+</a> // Remove it to enable google plus -->
                           </ul>
                        </div>
                        <!-- Social media share buttons end -->
                     </article>
                     <!-- Video Description -->
                     <article class="row description">
                        <div class="large-12 columns">
                           <h2 class="title-custom-border">Details</h2>
                           <p>The Climb is the brand new hit single from Miley Cyrus available on Hannah Montana: The Movie Soundtrack in stores March 24! Hannah Montana: The Movie only in Theaters April 10.</p>
                        </div>
                     </article>
                     <!-- pagination start -->
                     <article class="row page-nav">
                     </article>
                     <!-- pagination end -->
                     <!-- Get related Post-->
                     <footer class="article-footer row">
                        <div class="column">
                           <p class="tags"></p>
                        </div>
                     </footer>
                     <!-- end article footer -->
                     <!-- You can start editing here. -->
                     <!-- If comments are open, but there are no comments. -->
                     <section id="respond" class="respond-form">
                        <h3 id="comment-form-title" class="h2">Leave a Reply</h3>
                        <div id="cancel-comment-reply">
                           <p class="small"><a rel="nofollow" id="cancel-comment-reply-link" href="/video/videos/miley-cyrus-the-climb/#respond" style="display:none;">Click here to cancel reply.</a></p>
                        </div>
                        <form action="https://demo.templatic.com/video/wp-comments-post.php" method="post" id="commentform">
                           <p><textarea name="comment" id="comment" placeholder="Your Comment here..." tabindex="1"></textarea></p>
                           <ul id="comment-form-elements" class="clearfix">
                              <li>
                                 <label for="author">Name (required)</label>
                                 <input type="text" name="author" id="author" value="" placeholder="Your Name*" tabindex="2" aria-required='true' />
                              </li>
                              <li>
                                 <label for="email">Mail (required)</label>
                                 <input type="email" name="email" id="email" value="" placeholder="Your E-Mail*" tabindex="3" aria-required='true' />
                                 <small>(will not be published)</small>
                              </li>
                              <li>
                                 <label for="url">Website</label>
                                 <input type="url" name="url" id="url" value="" placeholder="Got a website?" tabindex="4" />
                              </li>
                           </ul>
                           <p>
                              <input name="submit" type="submit" id="submit" class="button"  value="Submit" />
                              <input type='hidden' name='comment_post_ID' value='1754' id='comment_post_ID' />
                              <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                           </p>
                        </form>
                     </section>
                  </div>
                  <!-- end #main -->
                  <!-- Video Detail  Page sidebar -->
                  <div id="sidebar1" class="sidebar large-3 medium-12 columns" role="complementary">
                     <div id="tmpl_widget_related_posts-2" class="widget widget_related_posts">
                        <div class="widget-wrap widget-inside">
                           <h3 class="widget-title h2">Similar Videos</h3>
                           <ul class="list row">
                              <li class="main-view clearfix">
                                 <div class="view-img">
                                    <a href="https://demo.templatic.com/video/videos/selena-gomez-the-scene-round-round/"><img class="thumb-img" src="https://img.youtube.com/vi/1fLb7fXmYtc/maxresdefault.jpg">
                                    <span class="video-overlay"><i class="fa fa-play-circle-o"></i></span>
                                    </a>
                                 </div>
                                 <div class="view-desc">
                                    <h6><a href="#"><a href="https://demo.templatic.com/video/videos/selena-gomez-the-scene-round-round/">Hong Kong Vacation Travel Guide</a></h6>
                                    <span class="byline"><span class="disabled-btn"><i class="step fa fa-eye"></i> <span>791343</span></span>  <cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite></span>
                                 </div>
                              </li>
                              <li class="main-view clearfix">
                                 <div class="view-img">
                                    <a href="https://demo.templatic.com/video/videos/vanessa-hudgens-say-ok-music-video-official-with-zac-efron/"><img class="thumb-img" src="https://img.youtube.com/vi/ka-ZgwCXKho/maxresdefault.jpg">
                                    <span class="video-overlay"><i class="fa fa-play-circle-o"></i></span>
                                    </a>
                                 </div>
                                 <div class="view-desc">
                                    <h6><a href="#"><a href="https://demo.templatic.com/video/videos/vanessa-hudgens-say-ok-music-video-official-with-zac-efron/">Venice Vacation Travel Guide</a></h6>
                                    <span class="byline"><span class="disabled-btn"><i class="step fa fa-eye"></i> <span>3598205</span></span>  <cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite></span>
                                 </div>
                              </li>
                              <li class="main-view clearfix">
                                 <div class="view-img">
                                    <a href="https://demo.templatic.com/video/videos/facts-that-will-make-you-want-to-travel/"><img class="thumb-img" src="https://img.youtube.com/vi/wDqhQU2MbIg/maxresdefault.jpg">
                                    <span class="video-overlay"><i class="fa fa-play-circle-o"></i></span>
                                    </a>
                                 </div>
                                 <div class="view-desc">
                                    <h6><a href="#"><a href="https://demo.templatic.com/video/videos/facts-that-will-make-you-want-to-travel/">Facts That Will Make You Want To Travel</a></h6>
                                    <span class="byline"><span class="disabled-btn"><i class="step fa fa-eye"></i> <span>9315</span></span>  <cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite></span>
                                 </div>
                              </li>
                              <li class="main-view clearfix">
                                 <div class="view-img">
                                    <a href="https://demo.templatic.com/video/videos/fun-is-the-future-mastering-gamification/"><img class="thumb-img" src="https://img.youtube.com/vi/RplnSVTzvnU/maxresdefault.jpg">
                                    <span class="video-overlay"><i class="fa fa-play-circle-o"></i></span>
                                    </a>
                                 </div>
                                 <div class="view-desc">
                                    <h6><a href="#"><a href="https://demo.templatic.com/video/videos/fun-is-the-future-mastering-gamification/">The currency of the new economy is trust</a></h6>
                                    <span class="byline"><span class="disabled-btn"><i class="step fa fa-eye"></i> <span>1762963</span></span>  <cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite></span>
                                 </div>
                              </li>
                              <li class="main-view clearfix">
                                 <div class="view-img">
                                    <a href="https://demo.templatic.com/video/videos/beautiful-wistful-girl-timelapse-art-portrait-video/"><img class="thumb-img" src="https://img.youtube.com/vi/YyyJ1WxyFAI/maxresdefault.jpg">
                                    <span class="video-overlay"><i class="fa fa-play-circle-o"></i></span>
                                    </a>
                                 </div>
                                 <div class="view-desc">
                                    <h6><a href="#"><a href="https://demo.templatic.com/video/videos/beautiful-wistful-girl-timelapse-art-portrait-video/">Beautiful Wistful Girl &#8211; Timelapse Art Portrait Video</a></h6>
                                    <span class="byline"><span class="disabled-btn"><i class="step fa fa-eye"></i> <span>265290</span></span>  <cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite></span>
                                 </div>
                              </li>
                              <li class="main-view clearfix">
                                 <div class="view-img">
                                    <a href="https://demo.templatic.com/video/videos/funny-animation/"><img class="thumb-img" data-interchange="[https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/anne-marie-slaughter-can-we-all1-69x50.jpg, (default)], [https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/anne-marie-slaughter-can-we-all1-138x100.jpg, (retina)]">
                                    <span class="video-overlay"><i class="fa fa-play-circle-o"></i></span>
                                    </a>
                                 </div>
                                 <div class="view-desc">
                                    <h6><a href="#"><a href="https://demo.templatic.com/video/videos/funny-animation/">Anne-Marie Slaughter: Can we all &#8220;have it all&#8221;?</a></h6>
                                    <span class="byline"><span class="disabled-btn"><i class="step fa fa-eye"></i> <span>149096</span></span>  <cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite></span>
                                 </div>
                              </li>
                              <li class="main-view clearfix">
                                 <div class="view-img">
                                    <a href="https://demo.templatic.com/video/videos/funny-hugh-laurie-stephen-fry-comedy-sketch-your-name-sir-bbc-comedy/"><img class="thumb-img" data-interchange="[https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/campagnolo-technologies-69x50.jpg, (default)], [https://demo.templatic.com/video/wp-content/uploads/sites/33/2014/04/campagnolo-technologies-138x100.jpg, (retina)]">
                                    <span class="video-overlay"><i class="fa fa-play-circle-o"></i></span>
                                    </a>
                                 </div>
                                 <div class="view-desc">
                                    <h6><a href="#"><a href="https://demo.templatic.com/video/videos/funny-hugh-laurie-stephen-fry-comedy-sketch-your-name-sir-bbc-comedy/">Campagnolo. Technologies</a></h6>
                                    <span class="byline"><span class="disabled-btn"><i class="step fa fa-eye"></i> <span>2080</span></span>  <cite class="fn"><i class="fa fa-clock-o"></i> August 18, 2017</cite></span>
                                 </div>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <div id="tmpl_categories_widget-3" class="widget widget_categories">
                        <div class="widget-wrap widget-inside">
                           <h3 class="widget-title h2">Categories</h3>
                           <ul>
                              <li class="cat-item cat-item-18"><a href="https://demo.templatic.com/video/videoscategory/animation-videos/" title="This is a category description of your Video category, you can use this section to explain what kind of videos will be published under this category. You can edit this section easily from Dashboard&gt;&gt; Video&gt;&gt; Category&gt;&gt;Edit.">Animation</a> (10)</li>
                              <li class="cat-item cat-item-234"><a href="https://demo.templatic.com/video/videoscategory/art/" title="This is a category description of your Video category, you can use this section to explain what kind of videos will be published under this category. You can edit this section easily from Dashboard&gt;&gt; Video&gt;&gt; Category&gt;&gt;Edit.">Art</a> (11)</li>
                              <li class="cat-item cat-item-15"><a href="https://demo.templatic.com/video/videoscategory/education/" title="This is a category description of your Video category, you can use this section to explain what kind of videos will be published under this category. You can edit this section easily from Dashboard&gt;&gt; Video&gt;&gt; Category&gt;&gt;Edit.">Education</a> (6)</li>
                              <li class="cat-item cat-item-236"><a href="https://demo.templatic.com/video/videoscategory/health/" title="This is a category description of your Video category, you can use this section to explain what kind of videos will be published under this category. You can edit this section easily from Dashboard&gt;&gt; Video&gt;&gt; Category&gt;&gt;Edit.">Health</a> (12)</li>
                              <li class="cat-item cat-item-232"><a href="https://demo.templatic.com/video/videoscategory/life/" title="This is a category description of your Video category, you can use this section to explain what kind of videos will be published under this category. You can edit this section easily from Dashboard&gt;&gt; Video&gt;&gt; Category&gt;&gt;Edit.">Life</a> (10)</li>
                              <li class="cat-item cat-item-233"><a href="https://demo.templatic.com/video/videoscategory/nature/" title="This is a category description of your Video category, you can use this section to explain what kind of videos will be published under this category. You can edit this section easily from Dashboard&gt;&gt; Video&gt;&gt; Category&gt;&gt;Edit.">Nature</a> (5)</li>
                              <li class="cat-item cat-item-19"><a href="https://demo.templatic.com/video/videoscategory/others/" title="This is a category description of your Video category, you can use this section to explain what kind of videos will be published under this category. You can edit this section easily from Dashboard&gt;&gt; Video&gt;&gt; Category&gt;&gt;Edit.">Others</a> (18)</li>
                              <li class="cat-item cat-item-235"><a href="https://demo.templatic.com/video/videoscategory/science/" title="This is a category description of your Video category, you can use this section to explain what kind of videos will be published under this category. You can edit this section easily from Dashboard&gt;&gt; Video&gt;&gt; Category&gt;&gt;Edit.">Science</a> (9)</li>
                              <li class="cat-item cat-item-14"><a href="https://demo.templatic.com/video/videoscategory/sports/" title="This is a category description of your Video category, you can use this section to explain what kind of videos will be published under this category. You can edit this section easily from Dashboard&gt;&gt; Video&gt;&gt; Category&gt;&gt;Edit.">Sports</a> (12)</li>
                              <li class="cat-item cat-item-241"><a href="https://demo.templatic.com/video/videoscategory/technology/" title="This is a category description of your Video category, you can use this section to explain what kind of videos will be published under this category. You can edit this section easily from Dashboard&gt;&gt; Video&gt;&gt; Category&gt;&gt;Edit.">Technology</a> (12)</li>
                              <li class="cat-item cat-item-16"><a href="https://demo.templatic.com/video/videoscategory/travel/" title="This is a category description of your Video category, you can use this section to explain what kind of videos will be published under this category. You can edit this section easily from Dashboard&gt;&gt; Video&gt;&gt; Category&gt;&gt;Edit.">Travel</a> (10)</li>
                              <li class="cat-item cat-item-196"><a href="https://demo.templatic.com/video/videoscategory/videos/" title="This is a category description of your Video category, you can use this section to explain what kind of videos will be published under this category. You can edit this section easily from Dashboard&gt;&gt; Video&gt;&gt; Category&gt;&gt;Edit.">Videos</a> (57)</li>
                           </ul>
                        </div>
                     </div>
                     <div id="tmpl_subscriber_widget-6" class="widget widget Newsletter subscribe">
                        <div class="widget-wrap widget-inside">
                           <div class="subscribe newsletter_subscribe_footer_widget">
                              <div class="subscribe_wall">
                                 <div class="subscribe_cont">
                                    <h3 class="widget-title h2">Subscribe To Newsletter</h3>
                                    <p> Get latest news about us directly in your inbox. We will never spam, Promise. </p>
                                    <span class="newsletter_msg" id="newsletter_msg"> </span>
                                    <form action="//feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('//feedburner.google.com/fb/a/mailverify?uri=templatic', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true" >
                                       <input type="text" id="newsletter_name" name="name" value="" class="field" onfocus="if (this.placeholder == 'Your Name') {this.placeholder = '';}" onblur="if (this.placeholder == '') {this.placeholder = 'Your Name';}" placeholder ="Your Name"  />
                                       <input type="text" id="newsletter_email" name="email" value="" class="field" onfocus="if (this.placeholder == 'Your Email Address') {this.placeholder = '';}" onblur="if (this.placeholder == '') {this.placeholder = 'Your Email Address';}" placeholder="Your Email Address"/>
                                       <input type="hidden" value="templatic" name="uri"   />
                                       <input type="hidden" value="Video" name="title" />
                                       <input type="hidden" name="loc" value="en_US"/>
                                       <input class="replace button" type="submit" name="submit" value="Subscribe" />
                                    </form>
                                 </div>
                              </div>
                           </div>
                           <!--End mc_embed_signup-->
                        </div>
                     </div>
                     <div id="social_media-3" class="widget widget social_media">
                        <div class="widget-wrap widget-inside">
                           <div class="social_media" >
                              <h3 class="widget-title h2">Connect To Us</h3>
                              <p class="social_description"> Find Us On Social Sites </p>
                              <div class="social_media widget_contact_info">
                                 <div class="widget-wrap widget-inside">
                                    <ul class="social_media_list inline-list social">
                                       <li> <a href="https://facebook.com/templatic" class="facebook" target="_blank">
                                          <i class="fa fa-facebook"></i></a> 
                                       </li>
                                       <li> <a href="https://twitter.com/templatic" class="twitter" target="_blank">
                                          <i class="fa fa-twitter"></i></a> 
                                       </li>
                                       <li> <a href="https://www.youtube.com/user/templatic" class="linkedin" target="_blank">
                                          <i class="fa fa-linkedin"></i></a> 
                                       </li>
                                       <li> <a href="https://www.youtube.com/user/templatic" class="youtube" target="_blank">
                                          <i class="fa fa-youtube-square"></i></a> 
                                       </li>
                                       <li> <a href="http://templatic.com" class="google-plus" target="_blank" >
                                          <i class="fa fa-google-plus"></i></a> 
                                       </li>
                                       <li> <a href="http://templatic.com" class="pinterest" target="_blank" >
                                          <i class="fa fa-pinterest"></i></a> 
                                       </li>
                                       <li> <a href="http://templatic.com" class="dribbble" target="_blank" >
                                          <i class="fa fa-dribbble"></i></a> 
                                       </li>
                                       <li> <a href="http://templatic.com" class="flickr" target="_blank" >
                                          <i class="fa fa-flickr"></i></a> 
                                       </li>
                                       <li> <a href="http://templatic.com" class="github" target="_blank" >
                                          <i class="fa fa-github"></i></a> 
                                       </li>
                                       <li> <a href="http://templatic.com" class="instagram" target="_blank" >
                                          <i class="fa fa-instagram"></i></a> 
                                       </li>
                                       <li> <a href="http://templatic.com" class="skype" target="_blank" >
                                          <i class="fa fa-skype"></i></a> 
                                       </li>
                                       <li> <a href="http://templatic.com" class="tumblr" target="_blank" >
                                          <i class="fa fa-tumblr"></i></a> 
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div id="tmpl_adv_widget-4" class="widget widget Advertise">
                        <div class="widget-wrap widget-inside">
                           <div class="advt advt-2c">
                              <img src="https://demo.templatic.com/video/wp-content/uploads/sites/33/2020/06/banner-1.jpg" class="thumb-img"> 
                              <img src="https://demo.templatic.com/video/wp-content/uploads/sites/33/2020/06/banner-1.jpg" class="thumb-img"> 
                           </div>
                        </div>
                     </div>
                     <div id="tmpl_adv_widget-5" class="widget widget Advertise">
                        <div class="widget-wrap widget-inside">
                           <div class="advt advt-1c">
                              <img src="https://demo.templatic.com/video/wp-content/uploads/sites/33/2020/06/banner.jpg" class="thumb-img"> 
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- Video Detail  Page sidebar End-->
               </div>
               <!-- end #inner-content -->
            </div>